---
title: Reservations
---

<% content_for :head do %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
<% end %>

<div class="page-section hero">
  <div class="container-fluid">
    <%= partial 'layouts/breadcrumb' %>
    <h1 class="text-center"><%= current_page.data.title %></h1>
    <p class="text-center">
      Fill out the form below to book a rental.
      We will call you to confirm the reservation.
    </p>
  </div>
</div>

<div class="container-fluid page-section">
  <form accept-charset="UTF-8" class="form-horizontal" method="post"
    action="<%= fh_url %>/<%= data.site.reservation_form_token %>">
    <div style="margin:0;padding:0;display:inline">
      <input type="hidden" name="utf8" value="✓">
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="name">Name</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="name" id="name"
          placeholder="First and last">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="phone">Phone</label>
      <div class="col-sm-9">
        <input class="form-control" type="tel" name="phone" id="phone">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="email">Email</label>
      <div class="col-sm-9">
        <input class="form-control" type="email" name="email" id="email">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="date">Event date</label>
      <div class="col-sm-9">
        <input class="form-control" type="date" name="date" id="date">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="occasion">Occasion</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="occasion" id="occasion"
          placeholder="e.g. Birthday">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="rental">Rental Items</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="rental" id="rental"
          placeholder="e.g. Tables, Chairs, Popcorn Machine, etc.">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="notes">Notes</label>
      <div class="col-sm-9">
        <textarea class="form-control" name="notes" id="notes" rows="2"
          placeholder="Anything else you’d like to tell us (optional)"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-3 col-sm-9">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

<% content_for :foot do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <%= javascript_include_tag 'forms' %>
  <script src="<%= fh_url %>/assets/bootstrap.js"></script>
<% end %>
