---
title: 4 in 1 Combo Slide (dry/wet)
slug: 4in1-combo
date: 2019-05-30
order: 850
photos:
- file: 20190527_145841.jpg
  alt: Front view
- file: 20190527_145750.jpg
  alt: Slide
- file: 20190527_145819.jpg
  alt: Inside view
- file: 20190527_145849.jpg
  alt: Entire jump house
- file: 20190527_145941.jpg
  alt: Side view
- file: 20190527_145955.jpg
  alt: Entire bouncer
- file: 20190527_150053.jpg
  alt: Basketball hoop
- file: 20190527_150155.jpg
  alt: Water flash hole

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14781
---

<p>
  The 4-in-1 designed combo allows the kids to go directly back into the
  bouncing area from the slide landing area without leaving the bounce house. It
  helps reduce the mud and debris that can be brought in from outside. It has a
  basketball hoop and pop-ups, slide, 15' x 12' bounce area and most important
  can be use as a water-slide on those hot summer days (Splash pool at the
  bottom). The water will flash out from the designated water flash hole on the
  side of the slide, direct the water away from the bounce house. This
  KźD JumpAround combo unit is great for backyard parties, schools, churches,
  and company events.
</p>

<p>Dimensions: 18L x 16W x 14H (slide sitting height 6')</p>

<p><b>Please inquire for character themes and accessories</b></p>
