---
title: 5 in 1 FunArena
slug: 5in1-fun-arena
date: 2015-09-29
order: 1000
photos:
- file: 5n1-home-face.jpg
  alt: Entrance to jumper
- file: Funarena-obstacle.jpg
  alt: Inside jumper
- file: 5n1-Obstacle-inside-view.jpg
  alt: Obstacle course inside jumper
- file: Funarena-hoop.jpg
  alt: Basketball hoop inside jumper
- file: dunk-master.jpg
  alt: Kids playing basketball inside jumper
- file: Funarena-rock-climb.jpg
  alt: Rock climbing wall inside jumper
- file: rock-climber.jpg
  alt: Kids playing inside jumper
- file: Funarena-slide.jpg
  alt: Slide inside jumper
- file: Happy-B_Day.jpg
  alt: Jumper decorated for a birthday

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14782
---

<p>
  The ALL NEW 5 n 1 FunArena (Custom Designed) inflatable is the perfect
  interactive challenge! Obstacle course allows partygoers' to race their way to
  a platform that you leap from to score a high flying DUNK on the hoop in
  front, in a variety of ways. Then they bounce across to a rock climb for a
  bigger challenge, once you reach the top you can slide down super fast. Big
  fun is to be had with this All in 1 FunArena!
</p>

<p>
  This inflatable is manufactured with lite n strong and fire-resistant vinyl,
  making it portable, safe and durable. This All in 1 FunArena is sure to keep
  participants coming back for more!
</p>

<p>
  Your KzD will love climbing, crawling, sliding, squeezing, twisting and
  hopscotching — yes, hopscotching — through this fun-filled adventure! The
  perfect combo for both indoor venues and outdoor events.
</p>

<p>
  All of our Units are designed with our customers in mind. Featuring the
  highest quality 18oz lead-safe vinyl.
</p>

<p>Created by Donavin Woodard, my Son</p>

<p>size: 16L x 18W x 15H</p>

<p><b>
  Please inquire for other character themes and accessories.
</b></p>
