---
title: 14' Backyard Waterslide
slug: backyard-waterslide
date: 2012-07-28
order: 1600
photos:
- file: IMAG0516.jpg
  alt: Waterslide
- file: 14-backyard-slide-large1.jpg
  alt: View of entire waterslide
- file: picture-064.jpg
  alt: Close-up of ladder to waterslide
- file: picture-059.jpg
  alt: Kids in pool at the bottom of waterslide
- file: picture-062.jpg
  alt: Back of waterslide with ladder
- file: picture-063.jpg
  alt: Pool at bottom of waterslide
- file: picture-058.jpg
  alt: Kid sliding down to the bottom

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14787
---

<p>
  Cool off this summer with your very own pool (soaker hose on the unit). This
  slide is a popular rental during the un-bearable hot days coming up. This
  water slide is built using 18oz Industrial Grade Vinyl – Fire Retardant,
  Lead Free and Mold Free.
</p>

<p>
  Made for ages 5-12!! (depending on your childs sizes and ability, can be
  younger)
</p>

<p>size: 25'L x 11' W x 14' H</p>
