---
title: Blue Module
slug: blue-module
date: 2019-02-02
order: 505
photos:
- file: B_133-HR.jpg
  alt: Blue Module
- file: B_133-HR-2.jpg
  alt: Blue Module
# - file: 20190223_155559.jpg
#   alt: Blue Module with Unicorn
- file: 20190223_154820.jpg
  alt: Blu Module Interior

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14257
---

<p>
  With an eye-catching design and a large bouncing area, the "Blue Module"
  Jumper is an all-around favorite with children and adults alike. This unit
  features a roomy jumping area with a basketball hoop, high-quality vinyl,
  commercial grade, an enclosed area for safety purposes, mesh nets for
  breath-ability and outside viewing.
</p>

<p><b>
  Please inquire for other character themes and accessories.
</b></p>

<p>size: 13L x 13W x 13H</p>
