---
title: Challenge Obstacle Course
slug: challenge-obstacle-course
date: 2016-07-21
order: 1700
photos:
- file: 20160712_1821331.jpg
  alt: View of entire obstable course
- file: 20160712_182256_HDR1.jpg
  alt: Back of jumper
- file: 20160712_183245_HDR1.jpg
  alt: View of ladder inside jumper
- file: 20160712_1822302.jpg
  alt: Ladders inside jumper
- file: 20160712_1825491.jpg
  alt: Inflating obstable course
- file: 20160712_1825021.jpg
  alt: Inside jumper
- file: 20160712_1830551.jpg
  alt: Obstacle course at a park

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14785
---

<p>
  Are you up to the "Challenge Obstacle Course" – Jumping through horizontal
  pillars, crawl through the tunnels, up the ladders down the slide until you
  end by knocking down some pop ups and on your way out the tunnels. Good for
  backyards, schools, churches, and company picnics. All the kids and the adults
  will love this amazing Unit.
</p>

<p>Size: 31L x 16W x 15H</p>
