---
title: Club House Combo
slug: club-house-combo
date: 2018-08-02
order: 1050
photos:
- file: IMAG1002.jpg
  alt: Club house face
- file: IMAG0999.jpg
  alt: Look inside
- file: IMAG1001.jpg
  alt: Slide
- file: IMAG1003.jpg
  alt: Obstacles
- file: IMAG1005.jpg
  alt: Basketball hoop
- file: IMAG1004.jpg
  alt: Basketball hoop

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14784
---

<p>
  The large interior jumping area offers a basketball hoop and both log and
  pop-up obstacles. This combo has a climb feature and a convenient exit slide
  for hours of active fun! Parents and spectators are offered a clear view with
  the 360-degree mesh sides. Your always in the Club weather your indoor or
  outdoor with this combo!
</p>

<p>6-8 children, minimum age 3yrs</p>

<p>Dimensions - 19'W x 20'L x 15'H</p>
