---
title: Crayon Castle
slug: crayom-castle
date: 2017-04-16
order: 300
photos:
- file: T-103-Crayon-9-450x3501.jpg
  alt: Jumper front view
- file: IMAG03191.jpg
  alt: Front view on grass
- file: IMAG03181.jpg
  alt: Inside jumper
- file: IMAG03201.jpg
  alt: Left front corner
- file: IMAG03211.jpg
  alt: Close-up from the side

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14770
---

<p>
  This bouncer comes with one Safety Approved basketball hoop and two pop-ups
  inside the bouncer.
</p>

<p>size: L13' x W11' x H15'</p>
