---
title: Double Lane Combo Slide (wet/dry)
slug: double-lane-combo-waterslide
date: 2017-04-16
order: 800
photos:
- file: C-263-Carnival-2-Ln-Combo-1-450x3501.jpg
  alt: Front-right corner
- file: IMAG03261.jpg
  alt: Close-up of slide
- file: IMAG03231.jpg
  alt: Inside view
- file: IMAG03221.jpg
  alt: Ladders to slides

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14263
---

<p>
  This is a wet n dry bouncer and slide combo. The top of the slide platform
  where kids stand is 6.5' tall. It has a water pool in the slide landing
  portion with inflated bottom to ensure a safe landing for the kids.
</p>

<p>size: L28 x W13 x H16</p>
