---
title: Large Combo Slide (2 in 1)
slug: large-combo-slide
date: 2012-06-14
order: 700
photos:
- file: cstl-rnd.jpg
  alt: Side view of slide
- file: pics_008.jpg
  alt: Kids playing on slide
- file: pics_012.jpg
  alt: Close-up looking inside
- file: backyard-party-set-up-with-jumper-tables-and-chairs.jpg
  alt: Jumper set up in backyard
- file: pics-007.jpg
  alt: Kids playing on slide
- file: pics-017.jpg
  alt: Right side
- file: 20130928_073641.jpg
  alt: Inside view looking at ceiling
- file: pics-010.jpg
  alt: Side view of slide

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14775
---

<p>
  This giant combo slide can keep tons of kids and adults happy with a huge
  bounce area that has a covering to keep the sun off the kiddos and a fun ride
  down the big slide. Our combo slide is ideal for large corporate and church
  functions, as well as festivals and fairs.
</p>

<p>15H x 15W x 28L</p>
