---
title: Large Castle
slug: large-castle
date: 2012-06-02
order: 200
photos:
- file: cstl-pnty.jpg
  alt: Front-right corner
- file: pics_001.jpg
  alt: Front-left corner
- file: pics_003.jpg
  alt: Kids jumping inside jumper
- file: pics_005.jpg
  alt: Kids smiling inside

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14101
---

<p>
  JumpAround time, larger-than-life in your own backyard!  Nothing will thrill
  and entertain the kids more than our timeless Large Castle Bounce House.
</p>

<p>size: 15L x 15W x 15H</p>
