---
title: Module
slug: module
date: 2013-06-30
order: 510
photos:
- file: moudule-unit-no-face.jpg
  alt: Entrance to jumper
- file: module-basketball-hoop.jpg
  alt: Close-up of basketball hoop inside jumper
- file: module-basketball-hoop2.jpg
  alt: Close-up of second basketball hoop inside jumper
- file: june-pics-058.jpg
  alt: Spiderman basketballs
- file: june-pics-059.jpg
  alt: Cars basketballs
- file: family-fun-etc-016.jpg
  alt: Basketball hoop inside jumper
- file: 20140717_1229571.jpg
  alt: Ninja Turtles basketballs

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14780
---

<p>
  This Large sized bounce arena has TWO attached basketball hoops inside. Comes
  with TWO balls (your Choice) for double the fun. Everyone at your party will
  remember it as the best party of the year!
</p>

<p>
  <a href="http://www.birthdayexpress.com/">**Kits (plates, cups, etc.)</a>
  sold separately; must be ordered at least 2-3 weeks in advance.
  Prices may vary.
</p>

<p><b>
  Please inquire for other character themes and accessories.
</b></p>

<p>Size: 15H X 15L X 15W</p>
