---
title: Play-a-Round 5
slug: play-a-round
date: 2017-04-16
order: 900
photos:
- file: IMAG03291.jpg
  alt: Entrances to jumper
- file: IMAG03271.jpg
  alt: Volleyball net inside jumper
- file: IMAG03471.jpg
  alt: Basketball hoop inside jumper
- file: IMAG03591.jpg
  alt: Kids playing volleyball inside jumper
- file: IMAG03361.jpg
  alt: Girl with boxing gloves
- file: IMAG03481.jpg
  alt: Kids boxing inside jumper
- file: IMAG03491.jpg
  alt: Knockout! (play)
- file: IMAG03321.jpg
  alt: Boxing gloves
- file: IMAG03511.jpg
  alt: Adults boxing inside jumper
- file: IMAG03541.jpg
  alt: The winner!
- file: IMAG03531.jpg
  alt: A boxing match inside jumper
- file: biz-pics-577.jpg
  alt: Inside jumper
- file: IMAG03381.jpg
  alt: Jumper accessories
- file: IMAG03281.jpg
  alt: Front view of jumper
- file: IMAG0965.jpg
  alt: Jousting sticks ($25 extra)
- file: IMAG0966.jpg
  alt: Jousting sticks ($25 extra)
- file: IMAG0968.jpg
  alt: Jousting sticks ($25 extra)

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14783
---

<p>
  5 games in 1 unit: Basketball, Volleyball, Boxing Ring, Joust Arena and
  Bouncer…
</p>

<p>
  *Accessories: 2 basketball hoops w/ball, 2-player joust &amp; pedestals,
  volleyball netting w/ball and 2 pair of OVERSIZE boxing gloves with head
  gear (child and adult).
</p>

<p>*$100 accessories deposit</p>

<p>size: L18' x W18' x H11'</p>
