---
title: Princess Castle
slug: princess-castle
date: 2014-01-13
order: 500
photos:
- file: 20190331_170653.jpg
  alt: Front view
- file: 20190331_170718.jpg
  alt: Inside view
- file: 20190331_170643.jpg
  alt: Side view
# - file: b-022-princess-bouncer-1-500x500.jpg
#   alt: Front view
# - file: b-022-3.jpg
#   alt: Close-up of entrance
- file: b-022-4.jpg
  alt: Close-up of ceiling
- file: b-022-5.jpg
  alt: Close-up of entrance from the inside
# - file: b-022-71.jpg
#  alt: Closer front view
# - file: Disney-Princess-Deluxe-kit-2.jpg
#   alt: Matching plates and silverware
# - file: Disney-Princess-Pinata.jpg
#   alt: Princess Piñata
- file: Resized_20190412_214641_1175583350147617.jpg
  alt: Minnie Ball
- file: Resized_20190412_214858_1175566560440645.jpg
  alt: Proncess Ball

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14772
---

<p>
  For young princesses of any age! Amazingly-detailed digital graphics, a
  crawl-through, slide area, child-proof finger-safe netting. A beautifully
  designed Royal Castle Bounce House performed in the following lovely matching
  colors of Light Blue, purple and Pink, is a perfect unit for girls of all
  ages. It is a spacious bouncy castle with pretty wide area of bouncing room.
</p>

<p>size: 16L x 16W x 18H</p>

<p>
  **Kits(PLATES,CUPS,ETC)… SOLD separately, must be ordered at least 2-3 weeks
  in advance**
</p>

<p>Please inquire for other character themes and accessories…</p>

<p>***Pinata sold separate***</p>
