---
title: Royal Castle (wet/dry)
slug: royal-castle
date: 2016-09-06
order: 400
photos:
- file: IMAG0053.jpg
  alt: Front-left corner
- file: IMAG0054.jpg
  alt: Front-right corner
- file: IMAG0048.jpg
  alt: Inside jumper
- file: IMAG0047.jpg
  alt: Boy playing inside jumper
- file: IMAG0046.jpg
  alt: Boy playing basketball inside jumper

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14771
---

<p>
  This Royal castle comes with one Safety Approved basketball hoop and two
  pop-ups inside the bouncer. A roof with an emergency exit provides a safe and
  shaded area to jump in. Jumping area can hold 5-7 kids jumping at once. Finger
  proof netting also prevents the children’s fingers from becoming stuck in the
  netting on the wall of the bounce house unit. This unit can be use WET OR DRY*
</p>

<p><small>*$20 extra to be use wet</small></p>

<p>14'L x 14'W x 15'H</p>
