---
title: Small Castle
slug: small-castle
date: 2012-06-12
order: 100
photos:
- file: small-castle-frt-lft-copy.jpg
  alt: Front-right corner
- file: small-castle-frt-copy.jpg
  alt: Front view
- file: picture_017.jpg
  alt: Inside jumper
- file: picture_016.jpg
  alt: Inside view with cover

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14256
---

<p>
  JumpAround time couldn't be FUNNER in your own backyard! Nothing will thrill
  and entertain your BIG little kids more than a timeless Castle Bounce House.
</p>

<p>size: 13L x 13W x 15H</p>
