---
title: Small Combo Slide (2 in 1)
slug: small-combo-slide
date: 2012-06-14
order: 600
photos:
- file: picture_011.jpg
  alt: Side view
- file: picture_012.jpg
  alt: Close-up
- file: 20140705_1334391.jpg
  alt: Slide
- file: 20140705_1335121.jpg
  alt: Left side
- file: 20140705_1335391.jpg
  alt: Ladder for slide

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14776
---

<p>
  This slide is ideal for a moderate family function. Its big enough for the
  small kids and small enough for the backyard. Also, has a cover over the jump
  area to keep the sun from beaming down on the kids.
</p>

<p>size: 25L x 13W x 15H</p>
