---
title: 18' TsuNami Screamer Slide
slug: tsunami-screamer-slide
date: 2017-04-16
order: 1500
photos:
- file: IMAG03411.jpg
  alt: View of entire slide
- file: IMAG03421.jpg
  alt: Close-up of ladder to slide
- file: IMAG03431.jpg
  alt: Close-up of slide
- file: IMAG03441.jpg
  alt: Close-up of bottom of slide

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14788
---

<p>
  This Marble Color Tsunmai screamer slide has a detachable pool, the pool
  bottom is inflated with air cushion, could be used as water slide or dry
  slide. This slide has a high platform of 11' from ground to the top where
  kids stand.
</p>

<p>size: 34'L x 14'W x 18'H</p>
