---
title: 12' Water Slide
slug: water-slide
date: 2018-08-02
order: 1650
photos:
- file: IMAG0991.jpg
  alt: Front view of slide
- file: IMAG0992.jpg
  alt: Bottom of slide
- file: IMAG0993.jpg
  alt: Ladder
- file: IMAG0994.jpg
  alt: Looking down from top of slide
- file: IMAG0995.jpg
  alt: Slide from the side
- file: IMAG0996.jpg
  alt: Other side of slide
- file: IMAG0997.jpg
  alt: Front view of slide close-up

package: https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14786
---

<p>
  Ride the 12' Water Slide and cool off with this compact water slide. Riders go
  up the steps, slide down and splash into the nice big pool area. The 12' Water
  Slide is perfect for the smaller age groups, the steps are not too challenging
  for the younger kids and they will have tons of fun sliding down. This water
  slide features a water misting system on top of the sliding area. (Regular
  garden hose required to reach the setup location).
</p>

<p>2-4 riders</p>

<p>Dimensions: 12'W x 20'L x 12'H</p>
