<div class="h-adr adr">
  <span class="p-post-office-box post-office-box">P.O. Box 2432</span><br>
  <span class="p-locality locality">Elk Grove</span>,
  <abbr class="p-region region" title="California">CA</abbr>
  <span class="p-postal-code postal-code">95759</span>
</div>
