<ol class="breadcrumb">
  <li><%= link_to 'Home', '/' %></li>

  <% if breadcrumb = current_page.data.breadcrumb || @breadcrumb %>
    <% breadcrumb.each do |crumb| %>
      <li><%= link_to crumb.title, crumb.url %></li>
    <% end %>
  <% end %>

  <li class="active"><span class="sr-only">
    <%= current_page.data.title %>
  </span></li>
</ol>
