<footer class="site-footer">
  <div class="container-fluid">
    <div class="site-footer-inner">
      <div class="site-footer-left">
        <%= image_tag 'logo.png', alt: 'KźD Bizness', width: 90, height: 99 %>
      </div>
      <div class="site-footer-body">
        <div class="row">
          <div class="col-md-6">
            <h2 class="h4">Vision Statement</h2>
            <p>
              To provide the atmosphere where food, fun, family and friends are
              the core focus for an entertainment experience that will be
              lasting and memorable.
            </p>

            <p>
              Biz Line: (916) 716-6702<br>
              <a href="mailto:kndbizness@comcast.net">kndbizness@comcast.net</a>
            </p>
          </div>
          <div class="col-md-6">
            <h2 class="h4">Partners in Growth</h2>
            <ul class="list-unstyled">
              <% data.partners.each do |partner| %>
                <li>
                  <%= link_to partner.name, partner.href,
                    title: partner.title, rel: 'friend', target: '_blank' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <hr class="site-footer-separator">
        <p class="copyright">
          &copy; <%= Date.today.year %> KźD Bizness.
        </p>
      </div>
    </div>
  </div>
</footer>
