<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= [
  current_page.data.title,
  data.categories.rentals[defined?(category) ?
    category : current_page.data.category].try(:name),
  data.site.title,
  current_page.data.subtitle,
].compact.join(' - ') %></title>

<%= tag :link, rel: 'canonical', href: [data.site.url, current_page.url].join %>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto:300,400,500&amp;subset=latin-ext" rel="stylesheet">
<%= stylesheet_link_tag 'app' %>

<style>body { background-color: transparent; }</style>
