<% active = current_page.url =~ /^#{link.url}/ ? 'active' : nil %>
<% content_tag :li, class: active do %>
  <% link_to link.url, link.html do %>
    <%= link.title %>
    <% if active %>
      <span class="sr-only">(current)</span>
    <% end %>
  <% end %>
<% end %>
