<% data.nav.each do |link| %>
  <% if link.dropdown %>
    <% active = link.dropdown.any?{ |l|
      !l.separator && current_page.url =~ /^#{l.url}/
    } ? 'active' : nil %>
    <% content_tag :li, class: ['dropdown', active].compact.join(' ') do %>
      <% link_to link.url || '#', class: 'dropdown-toggle',
        'data-toggle': 'dropdown', role: 'button',
        'aria-haspopup': true, 'aria-expanded': true do %>
        <%= link.title %>
        <span class="caret"></span>
      <% end %>

      <ul class="dropdown-menu" role="menu">
        <% link.dropdown.each do |sublink| %>
          <% if sublink.separator %>
            <li role="separator" class="divider"></li>
          <% else %>
            <%= partial('layouts/link', locals: {link: sublink}) %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <%= partial('layouts/link', locals: {link: link}) %>
  <% end %>
<% end %>
