<% if current_page.url == '/photo-booth/' %>
  <% link_to '/', class: 'site-switcher' do %>
    <span class="site-switcher-inner">
      <i class="fa fa-fw fa-arrow-left" aria-hidden="true"></i>
      Check out KźD JumpAround!
    </span>
  <% end %>
<% else %>
  <% link_to '/photo-booth/', class: 'site-switcher' do %>
    <span class="site-switcher-inner">
      Check out PhotoFUN photo booth with KźD!
      <i class="fa fa-fw fa-arrow-right" aria-hidden="true"></i>
    </span>
  <% end %>
<% end %>
