<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'layouts/head' %>
    <%= yield_content :head %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'layouts/analytics' %>
    <div class="photo-booth-page-wrapper">
      <%= partial 'layouts/switcher' %>
      <div class="container-fluid">
        <h1 class="text-center">PhotoFUN photo booth with KźD</h1>
      </div>
      <%= yield %>
    </div>
    <%= partial 'layouts/foot' %>
    <%= yield_content :foot %>
  </body>
</html>
