<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'layouts/head' %>
    <%= yield_content :head %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'layouts/analytics' %>
    <%= partial 'layouts/switcher' %>
    <%= partial 'layouts/header' %>
    <%= yield %>
    <%= partial 'layouts/footer' %>
    <%= partial 'layouts/foot' %>
    <%= yield_content :foot %>
  </body>
</html>
