<%
  @breadcrumb = [
    OpenStruct.new(
      title: data.categories.rentals[current_page.data.category].name,
      url: "/#{current_page.data.category}/"
    )
  ]
  @description = truncate_with_complete_sentences(
    Nokogiri::HTML.parse(yield).text, length: 160)
%>

<% reservation_link = link_to(
  case current_page.data.category
  when 'jump-houses'
    'Reserve this Jump House'
  when 'games'
    'Reserve this Game'
  else
    "Reserve #{current_page.data.title}"
  end,
  current_page.data.package || [
    '/reservations/',
    current_page.data.category == 'rentals' ? nil : {
      fi: data.site.reservation_form_token,
      fs: [{
        name: 'rental',
        value: current_page.data.title,
      }].to_json,
    }.to_param
  ].compact.join('#'),
  class: 'btn btn-primary',
) %>

<% prefix = "/images/rentals/#{current_page.data.category}/#{current_page.data.slug}" %>
<% wrap_layout :layout do %>
  <article role="main">
    <header class="page-section hero">
      <div class="container-fluid">
        <%= partial 'layouts/breadcrumb' %>
        <h1 class="text-center"><%= current_page.data.title %></h1>
        <p class="text-center reserve-button"><%= reservation_link %></p>
      </div>
    </header>

    <div class="container-fluid page-section">
      <div class="row">
        <div class="col-md-8 col-xl-6">
          <% photo = current_page.data.photos.first %>
          <div class="rental-photo">
            <% link_to "#{prefix}/1125/#{photo.file}",
              class: 'lightbox' do %>
              <%= image_tag "#{prefix}/330/#{photo.file}",
                srcset: %[
                  #{image_path("#{prefix}/330/#{photo.file}")} 330w,
                  #{image_path("#{prefix}/1125/#{photo.file}")} 1125w
                ],
                sizes: %[
                  (max-width: 767px) calc(100vw - 30px),
                  (max-width: 991px) calc(66.66vw - 45px),
                  (max-width: 1199px) calc(66.66vw - 75px),
                  (max-width: 1253px) calc(50vw - 75px), 552px
                ],
                alt: photo.alt, class: 'img-responsive' %>
            <% end %>
          </div>
        </div>

        <div class="col-md-4 col-xl-6">
          <div class="row">
            <% current_page.data.photos.drop(1).each.with_index do |photo| %>
              <div class="col-xs-4 col-sm-3 col-md-6 col-xl-4">
                <div class="rental-photo">
                  <% link_to "#{prefix}/1125/#{photo.file}",
                    class: 'lightbox' do %>
                    <%= image_tag "#{prefix}/330/#{photo.file}",
                      srcset: %[
                        #{image_path("#{prefix}/330/#{photo.file}")} 330w,
                        #{image_path("#{prefix}/1125/#{photo.file}")} 1125w
                      ],
                      sizes: %[
                        (max-width: 567px) calc(33.33vw - 30px),
                        (max-width: 767px) calc(25vw - 30px),
                        (max-width: 991px) calc(16.66vw - 30px),
                        (max-width: 1253px) calc(16.66vw - 45px), 164px
                      ],
                      alt: photo.alt, class: 'img-responsive' %>
                  <% end %>
                </div>
              </div>
            <% end if current_page.data.photos %>
          </div>
        </div>
      </div>

      <%= yield %>

      <p class="text-center"><%= reservation_link %></p>
    </div>
  </article>
<% end %>

<%= partial 'layouts/photoswipe' %>
<%= javascript_include_tag 'lightbox' %>
