<!DOCTYPE html>
<html>
<head>
  <title>Image</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }

    .outer {
      background-image: url(data:image/jpg;base64,<%= @assets[:bg] %>);
      background-position: center center;
      background-size: cover;
      width: <%= @width %>px;
      height: <%= @height %>px;
      position: relative;
    }

    .logo {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  </style>
</head>
<body>
  <div class="outer">
    <img src="data:image/png;base64,<%= @assets[:logo] %>" class="logo">
  </div>
</body>
</html>
