---
title: Jumper Accessories
slug: jumper-accessories
date: 2017-01-04
order: 400
photos:
- file: 4-25-10_007.jpg
  alt: Boxing head gear
- file: 4-25-10_001.jpg
  alt: Red boxing gloves
- file: 4-25-10_004.jpg
  alt: Blue boxing gloves
- file: IMAG03381.jpg
  alt: Jousting poles
- file: IMAG0965.jpg
  alt: Jousting poles
- file: IMAG0966.jpg
  alt: Jousting poles
- file: IMAG0968.jpg
  alt: Jousting poles
---

<p>
  These boxing gloves and head gear are for having great fun inside the bounce
  house. The gloves are about 3 times larger than a regular boxing glove, and
  they are specialy designed for playing around.
</p>

<p>
  Note: Due to constant product development and improvement, artwork, shape,
  color, size, description and schematic that appear on the web may not reflect
  the latest changes.
</p>

<p>$15</p>
