---
title: Concessions
slug: concessions
date: 2017-01-01
order: 100
photos:
- file: 20131002_185312.jpg
  alt: Big Popcorn Mahine
- file: cotton-candy.jpg
  alt: Cotton Candy Machine
- file: 1093377.jpg
  alt: Small Popcorn Machine
- file: sno-cone-machine.jpg
  alt: Small Sno-Kone Machine
- file: snowcone-machine.jpg
  alt: Big Snow Cone Machine
---

<%= partial 'rentals/disclaimer' %>

<p>
  Don’t have enough tables, chairs or a canopy? Call us today to add these items
  to your party / festival / church function / family Reunion etc. Look and
  style of tables and chairs may vary depending on what we have in-stock.
</p>

<p>
  Make your event extra fun with theater style popcorn. Everyone loves the taste
  and smell of fresh popped popcorn. **We’ll bring our popper with all the
  supplies to make your event extra special. Want to surprise your guests with a
  special treat? Serve them fresh made cotton candy! Cotton candy has always
  been a favorite for children &amp; adults. No better way to Chill-out than
  with a Sno-cone in the summertime. **We can supply all syrups and cones. We
  have Small and BIG machines (please inquire).
</p>

<h2>Popcorn Machines</h2>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <caption>Small (4oz) Popcorn Machine</caption>
      <tbody>
        <tr>
          <td>Machine only</td>
          <td class="text-right">$40.00</td>
        </tr>
        <tr>
          <td>Machine plus 6 popcorn packets and 50 bags</td>
          <td class="text-right">$55.00</td>
        </tr>
        <tr>
          <td>Individual popcorn packets (3-5 servings)</td>
          <td class="text-right">$3.50</td>
        </tr>
        <tr>
          <td>Additional serving bags (5 per request)</td>
          <td class="text-right">$1.00</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table">
      <caption>Large (8oz) Popcorn Machine</caption>
      <tbody>
        <tr>
          <td>Machine only</td>
          <td class="text-right">$50.00</td>
        </tr>
        <tr>
          <td>Machine plus 12 popcorn packets and 100 bags</td>
          <td class="text-right">$80.00</td>
        </tr>
        <tr>
          <td>Individual popcorn packets (5-7 servings)</td>
          <td class="text-right">$3.75</td>
        </tr>
        <tr>
          <td>Additional serving bags (10 per request)</td>
          <td class="text-right">$1.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h2>Sno-cone Machines</h2>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <caption>Small Sno-cone Machine</caption>
      <tbody>
        <tr>
          <td>Machine only</td>
          <td class="text-right">$40.00</td>
        </tr>
        <tr>
          <td>Machine plus 32 oz of syrup and 50 cups</td>
          <td class="text-right">$55.00</td>
        </tr>
        <tr>
          <td>Additional syrup (32 oz bottle)</td>
          <td class="text-right">$9.50</td>
        </tr>
        <tr>
          <td>Additional cups (5 per request)</td>
          <td class="text-right">$1.00</td>
        </tr>
      </tbody>
    </table>

    <p>Flavors to choose from:</p>

    <ul>
      <li>Piña Colada</li>
      <li>Mango</li>
      <li>Pineapple, Orange, &amp; Guava</li>
      <li>Grape</li>
      <li>Tiger’s Blood</li>
      <li>Watermelon</li>
      <li>Cotton Candy</li>
    </ul>
  </div>

  <div class="col-md-6">
    <table class="table">
      <caption>Large Sno-cone Machine</caption>
      <tbody>
        <tr>
          <td>Machine only</td>
          <td class="text-right">$50.00</td>
        </tr>
        <tr>
          <td>Machine plus 128 oz of syrup (2 bottles) and 150 cups</td>
          <td class="text-right">$80.00</td>
        </tr>
        <tr>
          <td>Additional syrup (64 oz bottle)</td>
          <td class="text-right">$12.50</td>
        </tr>
        <tr>
          <td>Additional cups (5 per request)</td>
          <td class="text-right">$1.00</td>
        </tr>
      </tbody>
    </table>

    <p>Flavors to choose from:</p>

    <ul>
      <li>Cherry</li>
      <li>Watermelon</li>
      <li>Blue Bubble Gum</li>
      <li>Cotton Candy</li>
      <li>Tiger’s Blood</li>
      <li>Cola</li>
      <li>Root Beer</li>
      <li>Sour Apple and Grape</li>
      <li>Strawberry</li>
      <li>Lemonade</li>
    </ul>
  </div>
</div>

<p>
  Ice is not included. One 7lb bag of ice will make approximately 20-25 6oz
  Sno-Cones.
</p>

<h2>Cotton Candy Machines</h2>

<table class="table">
  <caption>Cotton Candy Machine</caption>
  <tbody>
    <tr>
      <td>Machine only</td>
      <td class="text-right">$50.00</td>
    </tr>
    <tr>
      <td>Machine plus two cartons of flossugar (55-65 servings) and 60 cones</td>
      <td class="text-right">$80.00</td>
    </tr>
    <tr>
      <td>Additional flossugar</td>
      <td class="text-right">$15.00</td>
    </tr>
    <tr>
      <td>Additional cones (15 per request)</td>
      <td class="text-right">$2.00</td>
    </tr>
  </tbody>
</table>

<p>Flavors to choose from:</p>

<ul>
  <li>Pink Vanilla</li>
  <li>Grape &amp; Blue Raspberry</li>
</ul>

<hr>

<p>Look and style of machines may very depending on what we have in-stock.</p>
