---
title: Equipment
slug: equipment-accessories
date: 2017-01-03
order: 300
photos:
- file: Night-Light.jpg
  alt: Yellow night light
- file: Night-Light-Ele-box.jpg
  alt: Yellow night light electric box
- file: 4-25-10_034.jpg
  alt: Portable generator
---

<p><strong>A Deposit is required for the rental of ALL Accessories!!</strong></p>

<p>
  We have portable Lights for those night events and gas powered generators
  available for park parties and large event rentals where access to adequate
  electrical is a problem.
</p>

<p>Look and style of machines may very depending on what we have in-stock.</p>

<p>Generators $55</p>

<p>Night Light $25</p>

<h2>PA Speaker</h2>

<p>Rental cost &mdash; $30</p>

<p>
  You can connect the wired microphone to this unit using the MIC INPUT located
  on the top of the control panel. Play music form USB stick or SD card. Radio
  and Bluetooth phone capability; play music on your phone or device, sound will
  come from the speaker through the BLUETOOTH.
</p>

<p>
  NOTE: the speaker system can play the following audio file formats; MP3,USB/SD
  card no more than 32GB.
</p>

