---
title: Tables, chairs, etc...
slug: tables-chairs-tents
date: 2017-01-02
order: 200
photos:
- file: foldingchair_fs.jpg
  alt: Folding chair stockphoto, white bg
- file: banquet_fs.jpg
  alt: White table stockphoto, white bg
- file: dsc03573.jpg
  alt: Front view canopy
- file: dsc03574.jpg
  alt: Inside the canopy
- file: june-pics-055.jpg
  alt: Blue tent front
- file: dads-photos-028.jpg
  alt: Round table grass
- file: 12x12.jpg
  alt: Gray tent, red trim
- file: june-pics-057.jpg
  alt: White canopy, profile view
- file: june-pics-056.jpg
  alt: White canopy 3/4 view
- file: june-pics-052.jpg
  alt: Blue tent 3/4 view
- file: 10x10.jpg
  alt: White tent over tables
- file: IMAG0956.jpg
  alt: White canopy
- file: IMAG0957.jpg
  alt: White canopy with walls
- file: IMAG0958.jpg
  alt: White canopy inside
---

<%= partial 'rentals/disclaimer' %>

<p>
  Don’t have enough tables, chairs or a canopy? Call us today to add these items
  to your party / festival / church function / family Reunion etc.
  <em>
    Look and style of tables and chairs may vary depending on what we have in
    stock.
  </em>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th class="text-right">Price</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>6ft Plastic Folding Table</td>
      <td class="text-right">$7</td>
      <td>Seats 6-8</td>
    </tr>
    <tr>
      <td>8ft Plastic Folding Table</td>
      <td class="text-right">$9</td>
      <td>Seats 8-10</td>
    </tr>
    <tr>
      <td>60″ Round Table</td>
      <td class="text-right">$12</td>
      <td>Seats 8-10</td>
    </tr>
    <tr>
      <td>White Folding Chairs</td>
      <td class="text-right">$1</td>
      <td></td>
    </tr>
    <tr>
      <td>10 x 10 Canopy</td>
      <td class="text-right">$30</td>
      <td></td>
    </tr>
    <tr>
      <td>12 x 12 Canopy (light grey)</td>
      <td class="text-right">$35</td>
      <td></td>
    </tr>
    <tr>
      <td>10 x 20 Canopy</td>
      <td class="text-right">$120</td>
      <td>$30 extra for set-up, $10 extra for side panels</td>
    </tr>
  </tbody>
</table>
