// Remove inner shadows on iOS
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"] {
  -webkit-appearance: none;
}

.form-control {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  box-shadow: none;

  &:focus {
    background-color: #fcfcfc;
    border-color: #fcfcfc;
    box-shadow: 0 1px 6px 1px rgba(#000, 0.25);
  }
}
