.container-fluid {
  max-width: 1254px;

  @media (min-width: $screen-md-min) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $screen-lg-min) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.visible-xl {
  display: none;
}

@media (min-width: $screen-xl-min) {
  @include make-grid('xl');

  .visible-xl {
    display: block !important;
  }
}
