body.photo-booth {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .site-footer {
    &, a {
      color: $text-color;
    }

    &-separator {
      border-color: $text-color;
    }
  }
}

.photo-booth-page-wrapper {
  background-color: rgba(#fff, 0.8);
  flex-grow: 1;
}
