// Include PhotoSwipe
@import "main";
@import "default-skin/default-skin";

.rental-photo {
  margin-bottom: 30px;
}

.rental-caption {
  min-height: 66px;
}

.reserve-button {
  @media (min-width: $screen-md-min) {
    float: right;
    margin-top: -3.5em;
  }
}
