---
title: Balloon Twisting
slug: balloon-twisting
date: 2017-01-02
order: 300
photos:
- file: dw2_002.jpg
  alt: Daffy and Tweetie balloons on table
- file: blue-bird.jpg
  alt: Blue bird twisted balloon
- file: Fathers-day-Dad.jpg
  alt: Fathers Day Dad twisted balloon
- file: Mickey-head-shot.jpg
  alt: Mickey Mouse twisted balloon
- file: princess.jpg
  alt: Princess twisted balloon
- file: Strong-Man.jpg
  alt: The Strong Man twisted balloon
- file: Go-Mo-bile.jpg
  alt: Go Mo Bile twisted balloon
- file: Teddy-bear.jpg
  alt: Teddy Bear twisted balloon
- file: Minion.jpg
  alt: Minion twisted balloon
---

<p>
  Looking for some party fun for your guests? Why not try out having a balloon
  twister to do the job? Nothing beats the excitement of having a delightful
  balloon sculpture in your hand or even wears it as a hat!
</p>

<p>
  Prices: $125 per hour, minimum 2 hrs, should be able to accommodate 12- 24
  children
</p>

<p>
  If there is anyone attending your party with a latex allergy, please let us
  know so we do not bring balloons. We are aware of the severity of allergic
  reactions and will glady substitute our balloon twisting for an alternative
  form of fun.
</p>
