---
title: Dessert for any Occaission
slug: dessert
date: 2017-01-03
order: 400
photos:
- file: 20180804_132512.jpg
  alt: Butterfly cake
- file: 20160408_190028.jpg
  alt: Chocolate candies
- file: 20160521_111209.jpg
  alt: Birthday cake
- file: 20160625_163150.jpg
  alt: Strawberry cake
- file: 20161222_235708.jpg
  alt: Chocolate cake
- file: 20170521_184609.jpg
  alt: Apple pie
- file: 20180407_140841~2.jpg
  alt: 2 layer birthday cake
---

<h2>Toi’s dessert creations</h2>

<p>
  Baking is a heart felt passion where attention to detail is especially
  important. Everything Toi does is made with love and carefully prepared
  exclusive for you. There is a wide range of desserts that Toi offers for any
  occasion including parties, birthdays, company catering and weddings.
</p>

<p>
  Everything is made fresh to order. Custom orders are available Monday through
  Sunday from 7am-9pm. Please allow a least a weeks notice, in some cases to
  prepare certain items.
</p>

<p>
  <a href="https://www.facebook.com/Toitoilovesdesserts/" target="_blank">
    Please message on facebook for orders!
  </a>
</p>

<p>Let them know, Don or KoKo at KźD JumpAround referred you.</p>
