---
title: Face Paintings
slug: face-paintings
date: 2017-01-01
order: 100
photos:
- file: adult-and-child-wildcat-face-painting.jpg
  alt: Adult and child wildcat painted faces
- file: avatar-2-full-body-painting.jpg
  alt: Avatar full body paint
- file: avatar-close-up-2-full-body-painting-sm.jpg
  alt: Avatar full body paint, portrait shot
- file: cat-and-the-hat-face-painting-sm.jpg
  alt: Cat and The Hat face painting
- file: child-clown-face-painting-sm.jpg
  alt: Child clown face painting
- file: hearts-all-over-face-painting-sm.jpg
  alt: Child hearts all over face painting
- file: iron-man-face-painting-sm.jpg
  alt: Iron Man face painting
- file: moon-with-stars-face-painting-sm.jpg
  alt: Moon and Stars face painting
- file: mouse-face-painting-sm.jpg
  alt: Child mouse face painting
- file: pirate-face-painting-sm.jpg
  alt: Pirate face painting
---

<p>
  This attraction will literally put smiles on everybody’s face &mdash; or they
  could paint a dinosaur, flower, or other design! Kids, adults, and everyone
  in between will get a kick out of our face painters! &mdash; Painting on faces
  is fun!!! Our traditional face painting artists can hand paint on a child’s
  cheek or create a full-blown, full-face masterpiece. On average traditional
  face painter can paint about 25 kids an hour. Obviously, the more elaborate
  full face painting can take a little longer.
</p>

<p>
  Face painting is also in high demand at teen and adult events and parties. The
  painting is not limited to the face area. Many of our customers choose to have
  face or cheek art. The art can be made to look like a tattoo, but is applied
  with the highest quality FDA approved paints on the market. All paints are
  water soluble, non-toxic, and safe for face and body painting.
</p>

<p>
  Face painting is an ideal form of entertainment for any event! We all know it
  is great for children’s parties, but face painting is much sought after at
  events such as: fairs, festivals, private or company picnics, corporate
  entertainment, sporting events, schools, malls, grand openings, libraries, and
  so much more.
</p>

<p><strong>Rental Rate:</strong> $135 hour (minimum 2hrs)</p>
