---
layout: false
date: 2019-03-10
order: 600
---
<html>
<head>
   <meta http-equiv="refresh" content="0; url=/photo-booth/">
</head>
<body>
   <p>The page has moved to:
   <a href="/photo-booth/">this page</a></p>
</body>
</html>
