---
title: Piñatas
slug: pinatas
date: 2017-01-04
order: 500
photos:
- file: Cars.jpg
  alt: Cars piñata
- file: unicorn-pinata.jpg
  alt: Unicorn piñata
- file: number-one-pinata.jpg
  alt: Number One piñata
- file: starfish-pinata.jpg
  alt: Starfish piñata
---

<h2>Pinata Kit Styles</h2>

<p><strong>
  There’s nothing like a colorful piñata to get kids excited at a birthday
  party!
</strong></p>

<p>
  The challenge and anticipation of cracking it and seeing the candy and other
  treats fall to the ground gets the adrenaline flowing like nothing else. Just
  seeing the delight and excitement on party guests faces is often enough to
  make any parent happy.
</p>

<p>
  Choose a piñata based on popular movies, television shows, storybooks, animals
  or unique designs exclusively by our very on Gilbert Nunez (local piñata
  maker). <em>NOTE: We need at least a 1 week minimum notice in order to have
    your theme character ready.</em>
</p>

<p>
  We also have <a href="http://www.birthdayexpress.com/c/games/pinatas"
    target="_blank">Birthday Express</a>
  whom has many theme and character-inspired pull-string piñatas to choose from
  in addition to piñata fillers and piñata kits that come with the piñata,
  fillers, blindfold and a stick (just in case you decide to have your party
  guests whack instead of pull). There are even adorable pull-string piñatas for
  first birthdays!
</p>
