<div class="alert alert-info text-center">
  <h2>Important</h2>

  <p><strong>
    ALL games and accessories require a Deposit and/or Credit card to be on
    file!!
  </strong></p>

  <p><strong>
    If only ordering tables, chairs, canopies, concessions or games…
    please include delivery fee
  </strong></p>

  <p><strong>
    $75 minimum order requirement… (order over $125, no delivery fee)
  </strong></p>

  <p><strong>Delivery Fee $25</strong></p>
</div>
