<header class="page-section hero">
  <div class="container-fluid">
    <%= partial 'layouts/breadcrumb' %>
    <h1 class="text-center"><%= data.categories.rentals[category].name %></h1>
  </div>
</header>

<div class="container-fluid page-section">
  <% if category == 'games' %>
    <%= partial 'rentals/disclaimer' %>
  <% end %>

  <div class="row">
    <% page_articles.sort_by{ |a| a.data.order }.each do |article| %>
      <% next unless article.data.photos %>

      <% prefix = "/images/rentals/#{category}/#{article.data.slug}" %>
      <% photo = article.data.photos.first %>

      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <% link_to article do %>
          <figure>
            <%= image_tag "#{prefix}/330/#{photo.file}",
              srcset: %[
                #{image_path("#{prefix}/330/#{photo.file}")} 330w,
                #{image_path("#{prefix}/1125/#{photo.file}")} 1125w
              ],
              sizes: %[
                (max-width: 767px) calc(100vw - 30px),
                (max-width: 991px) calc(66.66vw - 45px),
                (max-width: 1199px) calc(66.66vw - 75px),
                (max-width: 1253px) calc(50vw - 75px), 552px
              ],
              alt: photo.alt, class: 'img-responsive' %>
            <figcaption class="text-center rental-caption">
              <h2 class="h4"><%= article.data.title %></h2>
            </figcaption>
          </figure>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
