---
title: Cornhole Boards Bag Toss Game Set
slug: cornhole
date: 2020-05-31
order: 250
photos:
- file: 20200516_142209.jpg
  alt: ''
- file: 20200516_142247.jpg
  alt: ''
- file: 20200516_141401.jpg
  alt: ''
- file: 20200516_142241.jpg
  alt: ''
- file: 20200524_223257.jpg
  alt: ''
- file: 20200524_223324.jpg
  alt: ''
- file: 20200516_141434.jpg
  alt: ''
---

<p>Rental cost &mdash; $35</p>

<p>
  The growing popularity of cornhole games is undeniable. A lawn game in which
  players take turns throwing 16 ounce bags of corn kernels at a raised platform
  with a hole in the far end. A bag in the hole scores 3 points, while one on
  the board scores 1 point.
</p>

<p>
  NIGHT ACTION...Having to give up playing when you can't see where to toss the
  bag? Well, extend your play into the darkness with these fantastically bright
  LED cornhole board lightings These LED lights can make your cornhole board
  perfect for late night BBQs and hangouts.
</p>

<p>
  CORN FILLED CORNHOLE BAGS, Collapsible legs for easy storage and transportation
</p>
