---
title: Giant Dominoes
slug: giant-dominoes
date: 2018-10-06
order: 300
photos:
- file: 20180916_172557.jpg
  alt: Giant Dominoes
- file: 20180916_172704.jpg
  alt: Giant Dominoes
---

<p>Rental cost &mdash; $25</p>

<ul>
  <li>
    PLAY ANYWHERE: The Get Out! Giant Wooden Dominoes 28-Piece Set &amp; Bag –
    Jumbo Black Color Wood &amp; White Numbers, Kids Adults Outdoor Games gives
    a new spin on a classic game and is great for indoor or outdoor patio games,
    camping.
  </li>
  <li>
    HUGE PIECES: Each jumbo piece is over-sized at 3.5” x 0.5” x 7” inches
    (8.9cm x 1.3cm x 17.8cm) for any get together; The black colored wood has
    clean, straight edges so you can stand them up on edge to build a giant
    dominoes tumbling structure.
  </li>
  <li>
    AGES: 12- Adult; Easy to see and have fun as you spread out and enjoy this
    classic game with the whole family and with friends young and old.
  </li>
</ul>
