---
title: Giant Jenga
slug: giant-jenga
date: 2018-10-06
order: 200
photos:
- file: 20180916_173858.jpg
  alt: Giant Jenga
- file: 20180916_173903.jpg
  alt: Giant Jenga
- file: 20180916_174014.jpg
  alt: Giant Jenga
- file: 20180916_174033_007.jpg
  alt: Giant Jenga
- file: 20180919_175522.jpg
  alt: Kids playing Giant Jenga
- file: 20180919_175543.jpg
  alt: Kids playing Giant Jenga
- file: 20180919_175644.jpg
  alt: Kids playing Giant Jenga
- file: 20180919_180004.jpg
  alt: Kids playing Giant Jenga
---

<p>Rental cost &mdash; $25</p>

<ul>
  <li>
    Includes high-quality and high-strength nylon carrying case for easy
    transport. Six Bright Colors Included are Blue, Red, Yellow, Green, Purple
    and Orange.
  </li>
  <li>
    Game starts with 19 levels of timbers 2.5-feet tall (can grow to over 5-feet
    while playing).
  </li>
  <li>
    The perfect game to bring to tailgates, barbecues, or any outdoor event for
    hours of entertainment!
  </li>
  <li>
    New twist on an old classic game that includes 54 pieces of colored wood
    blocks with which to build a tower and then take turns playing throwing the
    dice that will indicate the color of the block must be removed from the
    tower, but carefully, because if you tear down the tower will lose the game.
  </li>
</ul>
