---
title: Giant Connect Four
slug: giant-connect-four
date: 2018-10-06
order: 100
photos:
- file: 20180916_171019.jpg
  alt: Giant Connect Four
- file: 20180916_171038.jpg
  alt: Giant Connect Four
- file: 20180916_171134.jpg
  alt: Giant Connect Four
- file: 20180919_175017.jpg
  alt: Kids playing Giant Connect Four
- file: 20180919_175105.jpg
  alt: Kids playing Giant Connect Four
---

<p>Rental cost &mdash; $25</p>

<ul>
  <li>
    GAME PIECES INCLUDED: 42 GoSports Plastic Coins (21 red + 21 blue) - The
    coins are made from extremely durable plastic and will never break.
  </li>
  <li>
    TRAVEL CASE: Includes premium carrying case for neat storage or taking the
    game on the go.
  </li>
  <li>
    2 PLAYERS: Fun for kids and adults of all ages - makes for a unique accent
    in the backyard and is a hit at parties, cookouts, outdoor weddings, and
    more!
  </li>
</ul>
