---
title: Jumbo Dominoes
slug: giant-dominoes
date: 2018-10-06
order: 600
photos:
- file: 20190126_143532.jpg
  alt: Jumbo Dominoes
- file: 20190126_143608.jpg
  alt: Jumbo Dominoes
- file: 20190126_143654.jpg
  alt: Jumbo Dominoes
- file: 20190126_143705.jpg
  alt: Jumbo Dominoes
- file: 20190126_143718.jpg
  alt: Jumbo Dominoes
---

<p>Rental cost &mdash; $70</p>

<ul>
  <li>
    JUMBO Wooden Dominoes 28-Piece Set &mdash; Adults Outdoor Game gives a new
    spin on a classic game and is great for company picnics, BIG game challenge
    functions for prizes.
  </li>
  <li>
    GIGANTIC PIECES: Each jumbo piece is over-sized at 11 inches x 5.5 inches.
  </li>
  <li>
    Game includes: Jumbo Black Color Wood & White dots dominoes, 7/6' tables,
    4/4' tables, tarp for game to played on and carrying cart.
  </li>
  <li>
    AGES: 12 &mdash; Adult (only)
  </li>
</ul>
