---
title: Jumbo Connect Four
slug: jumbo-connect-four
date: 2019-02-02
order: 400
photos:
- file: 20181028_200823.jpg
  alt: Jumbo Connect Four
- file: 20181028_200644.jpg
  alt: Jumbo Connect Four
---

<p>Rental cost &mdash; $35</p>

<ul>
  <li>
    GAME PIECES INCLUDED: 42 GoSports Plastic Coins (21 red + 21 blue) - The
    coins are made from extremely durable plastic and will never break.
  </li>
  <li>
    TRAVEL CASE: Includes premium carrying case for neat storage or taking the
    game on the go.
  </li>
  <li>
    2 PLAYERS: Fun for kids and adults of all ages - makes for a unique accent
    in the backyard and is a hit at parties, cookouts, outdoor weddings, and
    more!
  </li>
</ul>
