---
title: Jumbo Jenga
slug: jumbo-jenga
date: 2018-10-06
order: 500
photos:
- file: 20190113_151937.jpg
  alt: Jumbo Jenga
- file: 20190113_152000.jpg
  alt: Jumbo Jenga
- file: 20190113_152049.jpg
  alt: Jumbo Jenga
---

<p>Rental cost &mdash; $35</p>

<ul>
  <li>
    Includes 27 JUMBO wooden blocks. Piece sizes: 4" x 4" x 12"
  </li>
  <li>
    Game starts with 9 levels of timbers (can grow to over 5-feet while playing).
  </li>
  <li>
    The perfect game to bring to tailgates, barbecues, or any outdoor event for
    hours of entertainment!
  </li>
  <li>
    New twist on an old classic game...build a tower by taking turns playing,
    blocks must be removed from the tower, but carefully, because if you tear
    down the tower will lose the game.
  </li>
</ul>
