---
title: PhotoFUN photo booth with KźD
layout: booth

photos:
- file: 2020-01-20_155541[1]-1.jpg
  alt: ''
- file: 20200111_185648.jpg
  alt: ''
- file: 20200111_185759.jpg
  alt: ''
- file: 20200111_185951.jpg
  alt: ''
- file: 20200201_203028.jpg
  alt: ''
- file: 20200201_203143.jpg
  alt: ''
- file: 20200201_205741.jpg
  alt: ''
- file: 20200201_210112.jpg
  alt: ''
- file: AFHJ8821.jpg
  alt: ''
- file: AFJF6920.jpg
  alt: ''
- file: AHYO3483.jpg
  alt: ''
- file: AJAI7829.jpg
  alt: ''
- file: ANBQ6244.jpg
  alt: ''
- file: AOYU4103.jpg
  alt: ''
- file: BAZJ7515.jpg
  alt: ''
- file: BIGP3479.jpg
  alt: ''
- file: BVLP8993.jpg
  alt: ''
- file: BYAR6808.jpg
  alt: ''
- file: CEUZ1615.jpg
  alt: ''
- file: DELA2890.jpg
  alt: ''
- file: DHHP7731.jpg
  alt: ''
- file: EAGV1654.jpg
  alt: ''
- file: ECKK5428.jpg
  alt: ''
- file: EVRV4172.jpg
  alt: ''
- file: QYZF9736.jpg
  alt: ''
- file: VMSS2763.jpg
  alt: ''
---

<div class="container-fluid">
  <hr class="site-footer-separator">

  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <a href="/photo-booth/">Home</a>
    </li>
    <li role="presentation">
      <a href="/photo-booth/rental-agreement/">Rental Agreement</a>
    </li>
    <li role="presentation">
      <a href="https://knd-jumparound.checkcherry.com/reservation/set_event?package_group_id=5804"
        target="_blank">Reservations</a>
    </li>
  </ul>

  <hr class="site-footer-separator">

  <div class="row">
    <div class="col-xs-12 pull-right col-md-6">
      <div class="rental-photo">
        <%= image_tag 'photo-booth/collage.jpg', class: 'img-responsive' %>
      </div>

      <div class="row">
        <% prefix = "/images/rentals/photo-booth" %>
        <% current_page.data.photos.each.with_index do |photo| %>
          <div class="col-xs-4 col-sm-3 col-md-6 col-xl-4">
            <div class="rental-photo">
              <% link_to "#{prefix}/1125/#{photo.file}",
                class: 'lightbox' do %>
                <%= image_tag "#{prefix}/330/#{photo.file}",
                  srcset: %[
                    #{image_path("#{prefix}/330/#{photo.file}")} 330w,
                    #{image_path("#{prefix}/1125/#{photo.file}")} 1125w
                  ],
                  sizes: %[
                    (max-width: 567px) calc(33.33vw - 30px),
                    (max-width: 767px) calc(25vw - 30px),
                    (max-width: 991px) calc(16.66vw - 30px),
                    (max-width: 1253px) calc(16.66vw - 45px), 164px
                  ],
                  alt: photo.alt, class: 'img-responsive' %>
              <% end %>
            </div>
          </div>
        <% end if current_page.data.photos %>
      </div>

      <div class="rental-photo">
        <video class="img-responsive" controls>
          <source src="/images/photo-booth/ABMR4174.mp4" type="video/mp4">
        </video>
      </div>

      <hr class="site-footer-separator hidden-md hidden-lg">
    </div>

    <div class="col-md-6">
      <h2>Price List</h2>

      <h3>$300</h3>
      <p>
        $100 deposit<br>
        Minimum of 2 hours<br>
        Unlimited session prints<br>
        Open concept setup (fits large groups)<br>
        Live View<br>
        Instant prints for everyone in the photo<br>
        2x6 design<br>
        Choice of Fabric Backdrop<br>
        Custom design templates with message or logo<br>
        Variety of high quality props<br>
        Professional Photo Booth attendant<br>
        Link to all images (optional)<br>
        Includes setup & breakdown<br>
        Free delivery within 25 miles
      </p>
      <p>
        <a href="https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=13836"
          target="_blank" class="btn btn-primary">Reserve this Package</a>
      </p>

      <h3>$450</h3>
      <p>
        $250 deposit<br>
        Minimum of 4 hours<br>
        Unlimited session prints<br>
        Open concept setup (fits large groups)<br>
        Live View<br>
        Instant prints for everyone in the photo<br>
        Choice of 4x6 or 2x6 design with message or logo<br>
        Choice of Fabric Backdrop<br>
        Custom design templates<br>
        Variety of high quality props<br>
        Professional Photo Booth attendant<br>
        Link to all images<br>
        Includes setup & breakdown<br>
        Free delivery within 25 miles
      </p>
      <p>
        <a href="https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=13838"
          target="_blank" class="btn btn-primary">Reserve this Package</a>
      </p>

      <h3>$650</h3>
      <p>
        $250 deposit<br>
        6 hours<br>
        Unlimited session prints<br>
        Open concept setup (fits large groups)<br>
        Live View<br>
        Instant prints for everyone in the photo<br>
        Choice of 4x6 or 2x6 design<br>
        Choice of Fabric or Sequins Backdrop<br>
        Custom design templates with message or logo<br>
        Variety of high quality props<br>
        Professional Photo Booth attendant<br>
        Link to all images<br>
        Memory Book with pens and adhesive<br>
        Includes setup & breakdown<br>
        Free delivery within 25 miles
      </p>
      <p>
        <a href="https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=13837"
          target="_blank" class="btn btn-primary">Reserve this Package</a>
      </p>
      <h4>Optional for this package</h4>
      <p>
        Enclosure booth<br>
        Green screen (additional fee)<br>
        <b>PhotoFUN portable feature allows you to get great shots anywhere at
          the party (additional fee)</b><br>
      </p>
      <p>
        <a href="https://knd-jumparound.checkcherry.com/reservation/set_event?event_type_id=14258"
          target="_blank" class="btn btn-primary">
            Reserve the Ultimate Package<br>
            <small>(includes all above options)</small>
          </a>
      </p>

      <h3>Additional Fees</h3>
      <p>
        $50 Keepsake Scrapbook with pens and adhesive<br>
        $150 per extra hour<br>
        $1 per mile Delivery Outside of 25 miles<br>
        $25 off with jumper rental from KźD JumpAround
      </p>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="container-fluid">
    <hr class="site-footer-separator">
    <ul class="list-inline pull-left">
      <li><a href="/photo-booth/">Home</a></li>
      <li><a href="/photo-booth/rental-agreement">Rental Agreement</a></li>
    </ul>
    <p class="copyright pull-right">
      &copy; <%= Date.today.year %> KźD Bizness.
    </p>
  </div>
</footer>

<%= partial 'layouts/photoswipe' %>
<%= javascript_include_tag 'lightbox' %>
