---
title: Rental Agreement - PhotoFUN photo booth with KźD
layout: booth
---

<div class="container-fluid">
  <hr class="site-footer-separator">

  <ul class="nav nav-pills">
    <li role="presentation">
      <a href="/photo-booth/">Home</a>
    </li>
    <li role="presentation" class="active">
      <a href="/photo-booth/rental-agreement/">Rental Agreement</a>
    </li>
    <li role="presentation">
      <a href="https://knd-jumparound.checkcherry.com/reservation/set_event?package_group_id=5804"
        target="_blank">Reservations</a>
    </li>
  </ul>

  <hr class="site-footer-separator">

  <h1>Rental Agreement</h1>

  <p>
    Completing the Booking form constitutes agreement to this contract. You are
    responsible for reading the entire agreement.
  </p>

  <p>
    The following contract and its terms will set forth an agreement between
    PhotoFUN Photo Booth (provider) and Event host (Client), for photo booth
    services for their event. This written contract sets forth the full, written
    intention of both parties and supersedes all other written and/or oral
    agreements between the parties. Signature on Booking Form/ Contract
    constitutes agreement to this document.
  </p>

  <h2>Service Period and Service Terms</h2>

  <p>
    The Service Period will be from the times listed in an email confirmation of
    your event. We will arrive approximately 30 minutes before the service
    period. If for any unforeseen reason we are unable to arrive until your
    event begins or need to arrive early, we will notify you as soon as we know.
    Provider agrees to have the Photo booth operational for a minimum of 80% of
    the paid rental period; occasionally, operations may need to be interrupted
    for maintenance of the Photo Booth (changing photo paper, adjusting camera,
    adjusting printer, fixing unexpected lag, or returning to the event to
    complete such tasks etc). If for any reason on our part (including but not
    limited to equipment malfunction), we are unable to start your event at the
    agreed upon time or continue your event, we will compensate you for any lost
    service time first by providing additional time up to 30 minutes if your
    venue permits or if your venue does not permit, a prorated refund not
    exceeding $20 for each hour lost. No compensation shall be made for delay
    caused by client once the staff has arrived at the event location noted on
    the contract whether due to incorrect address, insufficient power, unclear
    instructions or otherwise. No compensation shall be made for idle time or
    lost time resulting from the client’s express permission for the staff to
    leave before the service time is over or for guests choosing not to use the
    photo booth. No compensation shall be made for guests choosing not to use
    the photo booth. Quality of photos or prints is subjective and not grounds
    for refunds. All our equipment is industry standard for the purpose of
    novelty photo booth rental service. Please note that the last photo booth
    session must end 5 minutes before the service end time. Any additional time
    requested by host if available must be paid in increments of no less than 30
    minutes at $70. Payment must be made before additional time can be allowed.
    Any additional time provided or which the photo booth is used without
    payment will be billed to the client based on the time stamp of the photos
    at $5 per photo session. Photo Booth staff are not allowed to consume
    alcoholic beverages during service period or take photographs with guests or
    host. Client acknowledges that any actions of the guests including but not
    limited to misuse of props by client or client’s guests including children
    in a manner that causes harm to another person is the sole responsibility of
    said person. Client acknowledges that any actions of the photo booth staff
    beyond their assigned job description is the sole responsibility of the
    staff member. Client agrees that PhotoFUN Photo Booth or its owners shall
    not be held liable or responsible for any actions of the guests or for any
    actions of the photo booth staff that is not detailed in their job
    description. Liability Insurance Policy for the company is available upon
    request.
  </p>

  <h2>Payment</h2>

  <p>
    For discounted price, full payment is required to reserve event date.
    Service will not be rendered if full payment is not received prior to event
    date. We accept most credit and debit cards. Once this signed agreement is
    received, we will send you an electronic invoice for your contract total. We
    do not secure your date on our calendar until full payment and signed
    contract have been received. Booking reserved with 3rd party coupon require
    purchase of onsite printing and flash drive. Payment for extra time must be
    completed before time can be provided at your event. We may not be able to
    provide extra hours if not previously arranged. Extra hours provided without
    being scheduled must be paid in full via electronic invoice or cash at the
    rate stated above. Any parking fees required to allow access to the venue or
    required for the delivery staff to remain at the event for the duration of
    the event or setup time must be paid by the client on the same contract
    invoice. Any payment for parking fees not received may delay the attendant
    and will be billed to the client after the event.
  </p>

  <h2>Access, Space &amp; Power for Photo Booth</h2>

  <p>
    Client will arrange for an appropriate space for the Photo Booth at the
    event venue. The 2-7 person open concept photo booth setup requires a
    minimum space 7’ deep x 7’ wide x 9’ high. Client is responsible for
    ensuring power is available for the Photo Booth. (Approximately 120V, 5
    amps, 3 prong outlet). The outlet must not be shared with any other
    appliance. Photo booth setup area should preferably be indoors especially
    during the day. If outdoors, client should ensure adequate shade from the
    sun to ensure good lighting of photos. A solid wall is necessary for setup
    to avoid wind interference. Event may be cancelled and payment forfeited if
    indoor or covered setup is not available upon delivery. If the area for the
    photo booth has no shade Client must provide a canopy or one can provided
    for an anditional fee. Client must provide an indoor setup if rain or
    inclement weather is forecast. Setup area must be free of potential
    hazardous materials or items. Client must provide a table for the props with
    an expected guest of 75 or more. Children must be supervised by an adult at
    all times to avoid injury. Our open concept photo booth setups are not
    wheelchair accessible by default. Height adjustment for children or
    wheelchair must be requested prior to setup. The photo booth, once setup,
    must not be moved to avoid potential hazard.
  </p>

  <h2>Date Changes, Cancellations &amp; Refunds</h2>

  <p>
    Any request for a date change must be made at least 30 days in advance of
    the original event date. Change is subject to photo booth availability. If
    there is no availability for the alternate date the deposit/payment shall be
    refunded less cancellation fee as outlined and event date cancelled. Any
    requests for refund must be made in writing via email for proper processing.
    Cancellation for refund of deposit/payment will apply as follows based on
    calendar days. A minimum non-refundable cancellation fee of $80 will apply
    to all cancellation requests up to 30 days before the event date. Any
    requests made after or less than 30 days before the event except where the
    event was booked 30 days or less before the event date ($80 fee will apply)
    shall be subject to $100 fee. Booking cancelled one week or less before the
    event date are subject to $160 cancellation fee except where the event was
    booked within the week before the event ($80 fee will apply). At the sole
    discretion of PhotoFUN Photo Booth, event rental may be cancelled and prior
    payments refunded less $80 if payment is not made in full prior to event
    date. A full refund will only be provided in the event that services cannot
    be rendered at all due to unforeseen circumstances on our part. Notification
    of such cancellation will be made as soon as possible and once refunded;
    PhotoFUN Photo Booth shall no longer be indebted to the client. Chargeback
    requests made without first requesting a refund shall be handled in small
    claims court on a case by case basis. Cancellations made by client or due to
    insufficient or incorrect space after the staff has arrived at the venue
    will not be refunded. Refunds may take up to 14 days to be processed. Events
    booked using a coupon or deal are subject to the above cancellation fees
    which must be paid to PhotoFUN Photo Booth before the refund can be honored
    through the coupon site. Payment can be changed into credits in place of
    refund and used for another event. Price changes for future booking using
    credit will require additional payment to complete the booking. Refund of
    any upgrade or add-on is subject to $10 cancellation fee per item minimum.
    Gift Certificates cannot be exchanged with cash and are subject to
    cancellation fees above. Any requests for refund must be made in writing via
    email for proper processing.
  </p>

  <h2>Damage to Provider's Equipment</h2>

  <p>
    Client acknowledges that in the absence of damage waiver payment, client
    shall be financially liable for any accidental damage to the Provider's
    Equipment. Client is responsible for loss or damage to provider’s equipment
    caused by: a) Any misuse of the Provider's Equipment by Client or its
    guests, or b) Any theft or disaster (including but not limited to rain, fire
    or flood but excluding acts of God). Optional Damage Waiver covers only
    proven accidental damage. Damage waiver does not cover any damage caused by
    client requesting the booth to be setup outside without a covering. Waiver
    does not cover loss, theft, or vandalism. See payment and coverage
    information below. $50 fee may be billed to client if the photo booth setup
    was moved by client or guests during the event.
  </p>

  <h2>Indemnification</h2>

  <p>Client agrees to, and understands the following:</p>
  <ol>
    <li>
      Client will indemnify provider and its associates against any and all
      liability related to Client's and client’s guests’ use or misuse of the
      photo booth and props during or after Client's event including events
      arising from use of the photo booth by children.
    </li>
    <li>
      Client will indemnify Provider and its vendors against any and all
      liability associated with the use of pictures taken within the Photo
      Booth, or by its representatives, employees or affiliates at Client's
      event.
    </li>
    <li>
      Client will indemnify Provider from the time of service and on into the
      future, against any liability associated with said use.
    </li>
  </ol>

  <h2>Model Release</h2>

  <p>
    Client agrees to, and understands the following: PhotoFUN Photo Booth owns
    the copyright and reserve the right use, photographic portraits or pictures
    of any photo booth user who may be included intact or in part, for any and
    all media now or hereafter known for illustration, art, promotion,
    advertising, trade, or any other purpose. PhotoFUN Photo Booth and its
    providers are released, discharged and will be held harmless from any
    liability, that may occur or be produced in the taking of said picture or in
    any subsequent processing thereof, as well as any publication thereof,
    including without limitation any claims for libel or invasion of privacy.
    Photos may not be used by client or affiliates for any purpose other than
    personal use without express permission of PhotoFUN Photo Booth. We respect
    your privacy so please let us know if you would like your photos to be kept
    private and not used.
  </p>

  <h2>Miscellaneous Terms</h2>

  <p>
    If any provision of these terms shall be unlawful, void, or for any reason
    unenforceable under Contract Law, then that provision, or portion thereof,
    shall be deemed separate from the rest of this contract and shall not affect
    the validity and enforceability of any remaining provisions, or portions
    thereof. This is the entire agreement between Provider and Client relating
    to the subject matter herein and shall not be modified except in writing,
    signed by both parties. In the event of a conflict between parties, Client
    agrees to solve any disputes via arbitration or small claims court. In the
    event Provider is unable to supply a working photo booth for at least 80% of
    the Service Period, Client shall be refunded a prorated amount based on the
    Service Period Clause of this contract. If the printer fails to print out
    photos on site the Provider will be allowed to provide prints at a later
    time free of charge with free shipping as well as the ability for guests to
    download the digital files for their own use. By signing this agreement
    client agrees to be bound by the terms of the agreement. Sending this
    agreement to the client constitutes provider’s agreement with its terms.
  </p>
</div>

<footer class="site-footer">
  <div class="container-fluid">
    <hr class="site-footer-separator">
    <ul class="list-inline pull-left">
      <li><a href="/photo-booth/">Home</a></li>
      <li><a href="/photo-booth/rental-agreement">Rental Agreement</a></li>
    </ul>
    <p class="copyright pull-right">
      &copy; <%= Date.today.year %> KźD Bizness.
    </p>
  </div>
</footer>

<%= partial 'layouts/photoswipe' %>
<%= javascript_include_tag 'lightbox' %>
