---
title: Cities We Serve
---

<header class="page-section hero">
  <div class="container-fluid">
    <%= partial 'layouts/breadcrumb' %>
    <h1 class="text-center"><%= current_page.data.title %></h1>
  </div>
</header>

<div class="container-fluid page-section">
  <table class="table">
    <tbody>
      <tr>
        <td>Sacramento</td>
        <td>NO CHARGE</td>
      </tr>
      <tr>
        <td>Rancho Cordova</td>
        <td>NO CHARGE</td>
      </tr>
      <tr>
        <td>Fair Oaks</td>
        <td>NO CHARGE</td>
      </tr>
      <tr>
        <td>Citrus Heights</td>
        <td>NO CHARGE*</td>
      </tr>
      <tr>
        <td>Carmichael</td>
        <td>NO CHARGE*</td>
      </tr>
      <tr>
        <td>Elk Grove</td>
        <td>$15</td>
      </tr>
      <tr>
        <td>North Highlands</td>
        <td>$15</td>
      </tr>
      <tr>
        <td>Natomas</td>
        <td>$15</td>
      </tr>
      <tr>
        <td>Antelope</td>
        <td>$15</td>
      </tr>
      <tr>
        <td>Wilton</td>
        <td>$25</td>
      </tr>
      <tr>
        <td>Galt</td>
        <td>$25</td>
      </tr>
      <tr>
        <td>West Sacramento</td>
        <td>$25</td>
      </tr>
      <tr>
        <td>Davis</td>
        <td>$30</td>
      </tr>
      <tr>
        <td>Acampo</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Lodi</td>
        <td>$45</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <p>*Depending on your zip code some additional fees may apply</p>
          <p>**Other areas not listed, please inquire</p>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
