---
title: Contact Us
---

<header class="page-section hero">
  <div class="container-fluid">
    <%= partial 'layouts/breadcrumb' %>
    <h1 class="text-center"><%= current_page.data.title %></h1>
  </div>
</header>

<div class="container-fluid page-section h-card vcard">
  <h3>Address</h3>
  <span class="p-name p-org fn org"><%= data.site.title %></span><br>
  <%= partial 'layouts/address' %>
  <h3>Phone</h3>
  <p>
    Biz Line: <span class="p-tel tel">(916) 716-6702</span><br>
    Alt: <span class="p-tel tel">(916) 716-3735</span>
  </p>
  <h3>Email</h3>
  <p><a class="u-email email"
    href="mailto:kndbizness@comcast.net">kndbizness@comcast.net</a></p>
</div>
