---
title: Frequently Asked Questions
---

<header class="page-section hero">
  <div class="container-fluid">
    <%= partial 'layouts/breadcrumb' %>
    <h1 class="text-center"><%= current_page.data.title %></h1>
  </div>
</header>

<div class="container-fluid page-section">
  <section id="do-you-have-infaltable-insurance">
    <h2>Do you have inflatable Insurance?</h2>
    <p>Yes, we are fully licensed and Insured.</p>
  </section>

  <section id="how-early-should-i-make-my-reservation">
    <h2>How early should I make my reservation?</h2>
    <p>
      We do require you to book at least one-week in-advance. However, during
      summer months we are very busy, particularly on wekends and public
      holidays. Therefore, you are advised to book early to avoid
      disappointment. We will accept bookings as late as the same day. It’s
      always worth the phone call if you make a last minute decision.
    </p>
  </section>

  <section id="is-there-a-deposit-required-to-reserve-a-bounce-house">
    <h2>Is there a deposit required to reserve a bounce house?</h2>
    <p>
      Yes and no. Depending on your circumstance you maybe asked for a credit
      card or Paypal payment to hold your reservation. We will collect full
      payment (usually Cash, Credit Card, PayPal or Money Order) the day of the
      party. Bounce houses are reserved on a first-call, first-serve basis.
    </p>
    <p><em>
      Note: If paying by cash, please have exact change as our drivers do not
      carry cash.
    </em></p>
  </section>

  <section id="if-i-use-paypal-as-my-security-deposit-what-are-the-requirements">
    <h2>If I use PayPal as my security deposit what are the requirements?</h2>
    <p>
      20% of your total or $60,  whichever is the higher.
    </p>
  </section>

  <section id="does-the-price-include-set-up-and-delivery">
    <h2>Does the price include set up and delivery?</h2>
    <p>
      Yes, although additional fees may apply for areas farther out. Our prices
      do not include sales tax.
    </p>
  </section>

  <section id="when-do-you-deliver">
    <h2>When Do you Deliver?</h2>
    <p>
      We have a delivery window of 1-3 hours before an event. During busy summer
      periods we deliver on a geographical basis. However, if you need a
      specific time slot, we do our best to accommodate. We of course give a
      much closer window if the hire is booked for an indoor venue(e.g.
      community center, hall, school event of fund-raiser)
    </p>
  </section>

  <section id="when-do-you-pick-up">
    <h2>When do you pick up?</h2>
    <p>
      Usually our rentals are for the day, last pickup is by 8:00 pm in the
      summertime (March&ndash;October) and 7:00 pm in the winter
      (November&ndash;February).
    </p>
    <p>
      <strong>Note: You do not have to keep unit the entire time</strong>.
      You can also rent for a longer period of time. However, there is a fee
      added for every hour thereafter until 10:00 pm.
    </p>
  </section>

  <section id="can-we-keep-the-unit-jumper-overnight">
    <h2>Can we keep the unit/jumper overnight?</h2>
    <p>
      Yes, 10:00 pm is our latest pickup, then there would be a fee applied. The
      jumper must be in a fenced-in secure backyard and the blowers must be
      removed from the unit and locked in a secure location overnight.
      <strong>We pickup the next day by 9:30 am</strong>, otherwise you will be
      charged half-price for another day.
    </p>
  </section>

  <section id="how-long-Do-you-need-to-set-up-and-take-down">
    <h2>How long Do you need to set up and take down?</h2>
    <p>
      Set up and take down take approximately 20-30 minutes, depending on the
      unit booked and access to the location.
    </p>
  </section>

  <section id="what-is-your-cancellation-policy">
    <h2>What is your cancellation policy?</h2>
    <p>
      To obtain a full refund of payment/deposit, a 72 hour notification prior
      to the event date and/or selected service items is required.
    </p>
  </section>

  <section id="what-is-your-weather-policy">
    <h2>What is your weather policy?</h2>
    <p>
      Your child’s safety is our main concern. We reserve the right to cancel
      due to rain or high winds (check the
      <a href="http://www.accuweather.com/" target="_blank">weather forecast</a>).
      If it rains the night before and the ground is still saturated, we usually
      do not set up. If the sky is overcast, we can still set up our bounce
      houses. If we show up at your house and you choose to cancel, a
      <strong>$25 reservation fee will be applied.</strong>
      There is no refund once we have set the bounce house up.
    </p>
  </section>

  <section id="do-we-deliver-to-other-cities">
    <h2>Do we deliver to other cities?</h2>
    <p>
      Yes, but once again please be aware that due to rising gas prices and the
      possible need for an extra truck and labor that travel fees can be quite
      high. Please call our office or check
      <%= link_to 'cities we serve', '/cities-we-serve/' %>
      for a current quote.
    </p>
  </section>

  <section id="what-type-of-surface-can-the-bounce-house-be-placed-on">
    <h2>What type of surface can the bounce house be placed on?</h2>
    <p>
      The safest surface is a level grassy area. However, we can set up on
      concrete, asphalt, or bark. Please specify when ordering which surface we
      will be setting up on and we will make sure we utilize the proper anchors
      for your event.
    </p>
  </section>

  <section id="can-i-have-my-party-at-a-park">
    <h2>Can I have my party at a park?</h2>
    <p>
      Yes! Bounce houses are great for parks <strong>(except waterslides)</strong>.
      Some parks require that you have reservations in order to have a bounce
      house at the park. Contact the <%= link_to 'park district', '/parks/' %>
      for requirements. Also check to see if electricity will be available, if
      not we can arrange for a generator for an additional charge.
    </p>
  </section>

  <section id="what-kind-of-power-is-required-for-a-home-event">
    <h2>What kind of power is required for a home event?</h2>
    <p>
      A standard 110 household outlet. We will supply the cords and we ask that
      nothing else be‘ plugged into the outlet we are utilizing. The placement
      of the jumphouse should be no more than 100ft from that outlet. If you
      would like to set up at a park or place without an electrical outlet, let
      us know and we can arrange to use a generator for an additional charge.
    </p>
  </section>

  <section id="do-we-have-to-keep-it-plugged-in-the-entire-time">
    <h2>Do we have to keep it plugged in the entire time?</h2>
    <p>
      Yes. A blower keeps air in the unit the entire time. Once unplugged they
      deflate. That’s why we require an outlet within 50’ of the unit or a
      generator. Longer cords can pop your circuit breaker so we bring our own
      heavy duty cords.
    </p>
  </section>

  <section id="how-big-are-the-jumps">
    <h2>How big are the jumps?</h2>
    <p>
      Most of our jumps (all of our character jumps for example) are 15’ x 15’
      which is a little bigger than many companies rent. Please note the space
      required for each jump (listed near the large picture) as some are VERY
      big and require extra space. When in doubt, measure your space to make
      sure it will fit. Jumps need room to be staked and they need room for the
      blower and can’t rub against walls or trees as this may damage the jump.
      The sizes listed with each jump include the space needed for stakes etc.
      If you have stairs or a tiered backyard, please call our office to discuss
      options for setup.
    </p>
  </section>

  <section id="what-about-the-big-jumps-Any-special-requirements">
    <h2>What about the big jumps? Any special requirements?</h2>
    <p>
      Check the requirements listed with each jump. Also, make sure you have at
      least a 4’ access to the area where it will be set up. The jumps can weigh
      up to 650 pounds so we need a clear path with ample room.
    </p>
  </section>

  <section id="can-we-have-someone-stay-to-monitor-the-jumper-during-the-event">
    <h2>Can we have someone stay to monitor the jumper during the event?</h2>
    <p>
      Normally we do not stay with the unit. However, with enough advance notice
      you can rent a monitor ($10 an hour, 4 hours max). Monitors and
      <strong>KźD JumpAround</strong> are not responsible for injuries.
    </p>
  </section>

  <section id="are-we-responsible-for-the-unit-if-it-gets-a-tear-or-damaged-in-any-way">
    <h2>Are we responsible for the unit if it gets a tear or damaged in any way?</h2>
    <p>
      Yes and no. You are not responsible for normal wear and tear on our units.
      Seams may develop tears in high traffic areas over a period of time. If
      this happens please alert us at once so we can remedy the situation. If
      however, damage occurs due to failure to follow our safety rules or
      negligence (e.g. not turning off the blower in high winds),
      <strong>you will be responsible for all damages up to and including
      replacement of the unit/blower, etc</strong>
      which can cost thousands of dollars. We don’t want you or us to be in that
      situation which is why we have you sign and initial on all of our safety
      rules so that you can be the trained operator.
    </p>
  </section>

  <section id="what-is-a-security-deposit">
    <h2>What is a security deposit?</h2>
    <p>
      A security deposit is any money other than the advance payment for the
      rental. The security deposit serves to protect if their are damages to the
      equipment while under lessors supervision. It may be used to cover
      damages, cleaning replacement or otherwise. It is NOT a deposit that goes
      toward the final bill. In most cases the security deposits are reimbursed.
    </p>
  </section>
</div>
