---
title: General Safety Rules
---

<header class="page-section hero">
  <div class="container-fluid">
    <%= partial 'layouts/breadcrumb' %>
    <h1 class="text-center"><%= current_page.data.title %></h1>
  </div>
</header>

<div class="container-fluid page-section">
  <ul>
    <li><strong>
      Always have a responsible adult present to supervise others.
    </strong></li>
    <li>
      Use common sense in supervising use of the unit. If something does not
      look right, you should stop it immediately.
    </li>
    <li>
      All riders should be in the same group (i.e.: the same related size).
    </li>
    <li>Never jump on a partially inflated unit.</li>
    <li>
      Do not plug and unplug blower repeatedly, as it will cause it to burn up.
    </li>
    <li>Never put a hose or water on the unit.</li>
    <li>Remove shoes and any sharp objects from your person or in pockets.</li>
    <li>Do not allow riders to hang or pull on netting.</li>
    <li>
      In case of rain, remove riders and unplug motor and extension cord from
      wall. After deflated, fold unit onto itself to keep the play area dry.
    </li>
  </ul>
</div>
