---
subtitle: >
  Jumper Bounce House Rentals in Sacramento, Elk grove, Galt, Natomas,
  West Sacramento
---

<header class="page-section hero">
  <div class="container-fluid">
    <div class="sr-only">
      <%= partial 'layouts/breadcrumb' %>
    </div>
    <h5 class="navbar-left">
      <a href="http://www.accuweather.com/en/us/elk-grove-ca/95758/hourly-weather-forecast/40193_pc?hbhhour=15"
        class="text-warning" target="_blank"><i class="fa fa-fw fa-2x fa-sun-o" aria-hidden="true"></i>Check the weather</a> for your event!
    </h5>
    <h5 class="navbar-right">
      Visit us on
      <a href="https://www.facebook.com/K-D-Jump-Around-162034387209391/"
        target="_blank"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i>Facebook</a> and
      <a href="https://www.yelp.com/biz/knd-jumparound-elk-grove"
        target="_blank"><i class="fa fa-2x fa-yelp" aria-hidden="true"></i> Yelp!</a>
    </h5>
  </div>
</header>

<div class="container-fluid page-section home-page-section">
  <p>
    We are a family owned and operated company that has been providing
    <strong>inflatable bouncers </strong>/ <strong>jump houses</strong>
    in Elk Grove, Wilton, Galt, Acampo, Lodi, Davis, Sacramento West Sacramento,
    Rancho Cordova, Natomas, Fair Oaks and Carmichael, California with quality
    entertainment at affordable prices since 2008. Do not be fooled by the
    creative title, <strong>KźD JumpAround</strong> takes each relationship very
    seriously. We take pride in our reputation for safety, quality, cleanliness
    and reliable service. When planning your next <strong>Jumper</strong> party
    or <strong>bounce house</strong> event, call <strong>KźD JumpAround</strong>.
  </p>

  <p>
    We have the ability to make your next family BBQ, company picnic, kids’ team
    sports celebrations, grand openings, seasonal festivals, church
    celebrations, <strong>Weddings (yes, weddings)</strong>,family reunions,
    both residential and park parties, Fourth of July party, block party, and
    any life event worth celebrating! <strong>you can get it all right
    here</strong> with <strong>KźD JumpAround</strong>.
  </p>

  <div class="row">
    <div class="col-sm-4">
      <figure class="panel panel-info">
        <figcaption class="panel-heading">
          Check out our Jump Houses!
        </figcaption>
        <% link_to '/jump-houses/' do %>
          <%= image_tag 'rentals/jump-houses/large-castle/1125/pics_001.jpg',
            alt: 'Large Castle Jump House', class: 'img-responsive' %>
        <% end %>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure class="panel panel-info">
        <figcaption class="panel-heading">
          Check out our Rentals!
        </figcaption>
        <% link_to '/rentals/' do %>
          <%= image_tag 'rentals/rentals/tables-chairs-tents/1125/banquet_fs.jpg',
            alt: 'Large Castle Jump House', class: 'img-responsive' %>
        <% end %>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure class="panel panel-info">
        <figcaption class="panel-heading">
          Check out our Partners’ Services!
        </figcaption>
        <% link_to '/partners-services/' do %>
          <%= image_tag 'rentals/partners-services/face-paintings/1125/adult-and-child-wildcat-face-painting.jpg',
            alt: 'Large Castle Jump House', class: 'img-responsive' %>
        <% end %>
      </figure>
    </div>
  </div>

  <div class="alert alert-info h1 text-center">
    <%= link_to 'Book your event today', '/reservations/',
      class: 'alert-link' %>
  </div>

  <h3>
    Payment methods: Cash, Money Order, Paypal, Visa, MasterCard,
    American Express, Discover... No Checks
  </h3>

  <p>
    <%= image_tag 'cc.gif', alt: 'Credit Cards accepted' %>
  </p>

  <h3>
    <em>All customers are required to sign a
      <%= link_to 'rental agreement', '/rental-agreement/' %> and have a
      Credit card on file or a Paypal security deposit...Thank you
    </em>
  </h3>
</div>
