---
title: Parks Info
---

<header class="page-section hero">
  <div class="container-fluid">
    <%= partial 'layouts/breadcrumb' %>
    <h1 class="text-center"><%= current_page.data.title %></h1>
  </div>
</header>

<div class="container-fluid page-section">
  <p>
    <strong>KźD JumpAround</strong> is authorized to set up bounce Houses in
    Elk Grove, Sacramento and Yolo County. There are some parks that require
    both permit and reservation, some parks are first come, first serve. For
    more information please contact your local parks department.
  </p>

  <h2>Elk Grove CSD</h2>

  <p>
    8820 Elk Grove Blvd<br>
    Elk Grove CA 95624<br>
    916–405-5300
  </p>

  <p><strong>
    <a href="http://www.yourcsd.com/596/Parks-List"
      target="_blank">Elk Grove and other Park Listings</a><br>
    <a href="http://ca-cosumnescsd.civicplus.com/311/Facility-and-Picnic-Rentals"
      target="_blank">Reservations</a>
  </strong></p>

  <h2>Sacramento Regional Parks</h2>

  <p>
    4040 Bradshaw Rd<br>
    Sacramento CA 95827<br>
    916–875-6961
  </p>

  <p><strong>
    <a href="https://www.cityofsacramento.org/ParksandRec/Parks/Park-Directory"
      target="_blank">Other Sacramento Park listings</a><br>
    <a href="http://www.regionalparks.saccounty.net/Parks/Pages/ParksA-ZListing.aspx"
      target="_blank">More Sacramento Park Listings</a><br>
    <a href="http://www.regionalparks.saccounty.net/SpecialEventsReservations"
      target="_blank">Reservations</a>
  </strong></p>

  <h2>West Sacramento Parks and Recreation</h2>

  <p>
    1110 West Capital Ave<br>
    West Sacramento, CA 95691<br>
    916–617–4620<br>
  </p>

  <p><strong>
    <a href="http://www.regionalparks.saccounty.net/Parks/Pages/ParksA-ZListing.aspx"
      target="_blank">Other West Sacramento Park Listings</a><br>
    <a href="http://www.cityofwestsacramento.org/city/depts/pcs/rentals.asp"
      target="_blank">Reservations</a><br>
  </p>

  <h2>Cordova Recreation and Park District</h2>

  <p>
    Rancho Cordova, CA 95670<br>
    2729 Prospect Park Dr, Suite 230<br>
    916-842-3300
  </p>

  <p><strong>
    <a href="http://crpd.com/facility/parks/"
      target="_blank">Rancho Cordova Park Listings</a><br>
    <a href="http://www.crpd.com/index.php?option=com_content&amp;view=article&amp;id=43&amp;Itemid=219"
      target="_blank">Reservations</a>
  </strong></p>
</div>
