---
title: Rental Agreement
---

<header class="page-section hero">
  <div class="container-fluid">
    <%= partial 'layouts/breadcrumb' %>
    <h1 class="text-center"><%= current_page.data.title %></h1>
  </div>
</header>

<div class="container-fluid page-section">
  <details>
    <summary>Size/Capacity Chart</summary>
    <table class="table">
      <thead>
        <tr>
          <th>Unit Size</th>
          <th>Children 8 and Under</th>
          <th>Children 9 to 12</th>
          <th>Older Teens</th>
          <th>Adults</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13’x13’x15′</td>
          <td>5-7</td>
          <td>4-6</td>
          <td>3-5</td>
          <td>4</td>
        </tr>
        <tr>
          <td>15’x15’x15′</td>
          <td>6-8</td>
          <td>5-7</td>
          <td>3-5</td>
          <td>4</td>
        </tr>
        <tr>
          <td>13’x25’x15′</td>
          <td>4-6</td>
          <td>3-5</td>
          <td>2-4</td>
          <td>4</td>
        </tr>
        <tr>
          <td>14’x28’x15′</td>
          <td>5-7</td>
          <td>4-6</td>
          <td>4-5</td>
          <td>5</td>
        </tr>
        <tr>
          <td>11’x25’x14’</td>
          <td>5</td>
          <td>5</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>16’x18’x16′</td>
          <td>7-9</td>
          <td>6-8</td>
          <td>5-7</td>
          <td>4-6</td>
        </tr>
        <tr>
          <td>16’x20’x31’</td>
          <td>0</td>
          <td>2-4</td>
          <td>2-4</td>
          <td>2-4</td>
        </tr>
      </tbody>
    </table>
  </details>
  <p>&nbsp;</p>

  <ol>
    <li>
      <p>
        <strong>
          GENERAL RULES! TO FOLLOW DURING USE OF THE K & D JUMP AROUND UNIT:
        </strong>
        Only compatible age groups and size shall play on the unit at the same
        time. CHILDREN’S SAFETY DEPENDS UPON YOU. YOUR PERSONAL SUPERVISION IS
        ABSOLUTELY REQUIRED AS THE LESSEE OF THE K & D JUMP AROUND UNIT. THE
        SAFETY OF ALL RIDERS IS YOUR RESPONSIBILITY.
      </p>

      <p><strong>TERMS OF RENTAL AGREEMENT:</strong></p>
    </li>
    <li>
      <p>
        <strong>RELEASE OF LIABILITY:</strong>
        The Lessee shall be in charge of the unit’s operation, and is fully
        responsible for its operation as well as return of the unit in good
        working order. Lessor and its officers, employees and agents is/are
        <strong>NOT RESPONSIBLE FOR INJURY</strong>
        occurring to the Lessee or to any other persons using the
        K & D JUMP AROUND
        unit, and the Lessee further agrees to hold the Lessor and its officers,
        employees and agents free and harmless against any injury or claims. The
        Lessee shall indemnify the Lessor and its officers, employees and agents
        from/against any costs incurred due to claims from anyone and for
        attorney’s fees and related costs involving the use and return of the
        unit, should legal action become necessary.
      </p>
    </li>
    <li>
      <p>
        <strong>SAFE OPERATION ACKNOWLEDGEMENT:</strong>
        Lessee acknowledges that he/she has been instructed about and fully
        understands the safe operation of the unit that is the subject of this
        rental agreement. Lessee agrees to observe all safety precautions.
        Lessee also represents and warrants the safe return of the unit and
        <strong>hereby agrees to pay up to $300 in repairs</strong>,
        if any malicious act or accidental damage is done.
      </p>
    </li>
    <li>
      <p>
        <strong>SPECIAL INSTRUCTIONS:</strong>
        K & D JUMP AROUND unit’s equipment is reliable. Should the unit begin to
        deflate: (l) The motor may have stopped in which case, check the cord
        connection at the outlet near the motor and remember to keep only the
        100 foot extension cord on the outlet (stronger outlets are in the
        kitchen and laundry room). (2) If the motor is continuing to run, check
        the air intake on the side of the motor for blockage, and check both
        tubes at the back of the unit for snugness, re-tie if necessary. (3) If
        you cannot correct the problem call (916) 716-6702 or (916) 716-3735.
        K & D JUMPAROUND will not be held responsible for any underground
        utilities, sprinkler systems, septic systems, electrical, rocks, etc.
        when staking down inflatables.
      </p>
    </li>
    <li class="text-danger">
      <p>
        <strong>CANCELLATION POLICY:</strong>
        Lessee has 72 hours prior to the rental agreement event date and
        selected service items to obtain a full refund of payment/deposit. If
        contact has not been made in the allotted amount of time, 20% of your
        total order or $25, whichever is the greater quantity thereof, will be
        deducted from your credit card or Paypal deposit. If K & D JUMP AROUND
        hasn’t received a call from a customer within an hour after
        K & D JUMP AROUND unit is installed there will be NO REFUND
      </p>
    </li>
    <li>
      <p>
        <strong>DO NOT MOVE</strong>
        the unit from the place where it was installed. If the unit moves, pull
        the corner back to its original location of installation.
        <strong>CAUTION:</strong>
        Keep the unit away from swimming pools. Absolutely no “Silly String”,
        Gum, Glitter, Candy, Food, Confetti, Kool Aide, Sticky Substances or
        writing on unit is allowed. If upon pick up, such cleaning is required
        then a cleaning fee up to $25 may be automatically imposed. Lessee
        agrees to keep the K & D JUMP AROUND unit in the same condition as when
        received, ordinary wear expected.
      </p>
    </li>
    <li>
      <p>
        <strong>TITLE TO K & D JUMP AROUND:</strong>
        Lessee agrees to keep the unit is his/her custody and not to sublease,
        rent, sell, remove from the Delivery Address, or otherwise transfer the
        unit. The K & D JUMP AROUND unit will remain on the property of the
        Lessee and may be removed by Lessor at any time after the termination of
        this Rental Agreement. DELIVERY To the street address specified above by
        lessee (Customer). Lessee grants Lessor right to enter the property at
        the said street address (Delivery Address) for the delivery and
        subsequent pick up of the unit at the specified time.
      </p>
    </li>
    <li>
      <p>
        <strong>RAIN POLICY:</strong>
        If rain is predicted in the forecast the day before the event (I.E.
        rain, high winds, etc.) or the day of the event, we reserve the right to
        cancel your reservations. If the lessee and the lessor feel the event is
        doable under the conditions and terms of this Rental Agreement, there
        will be <strong>NO REFUNDS</strong>.
      </p>
    </li>
    <li>
      <p>
        <strong>OVERNIGHT RENTALS:</strong>
        Lessee understands and acknowledges that the inflatable must be in a
        fenced in secure backyard and that the blower and/or generators are to
        be removed from the Inflatable unit and locked up in a secure location
        overnight. ______ Initial
      </p>
    </li>
    <li>
      <p>
        <strong>ENTIRE AGREEMENT:</strong>
        The Rental Agreement constitutes the full agreement between Lessor and
        Lessee. Time is of the essence in this Rental Agreement. The receipt of
        the K & D JUMP AROUND unit that is the subject of this Rental Agreement
        is in good working order and repair and this is so acknowledged by
        Lessee.
      </p>

      <p>&nbsp;</p>
      <p>LESSOR: <strong>K & D JUMP AROUND</strong></p>
      <p>&nbsp;</p>
      <p>BY: ___________________________________________________________</p>
      <p>&nbsp;</p>
      <p>By my signature, I accept the terms of this Rental Agreement:</p>
      <p>&nbsp;</p>
      <p>LESSEE SIGN: __________________________________________________</p>
      <p>&nbsp;</p>
      <p>PRINT: _________________________________________</p>
      <p>&nbsp;</p>

    </li>
    <li>
      <p><strong>
        WARRANTY:
        Lessor warrants that the unit leased under this Rental Agreement will be
        in good working order on the effective date of the Rental Agreement. The
        unit is supplied and maintained subject to this warranty. Lessor’s
        obligation under this Rental Agreement is limited to repair or
        replacement of the unit when Lessor determines that it does not conform
        to its warranty. This warranty is in lieu of any and all other
        warranties expressed or implied, and of any and all obligations and of
        all liabilities on the part of the Lessor for damage, including, but not
        limited to consequential damages, arising out of or in connection with
        the use or performance of the unit.
      </strong></p>
    </li>
  </ol>
  <p>
    WE ARE DETERMINED TO PROVIDE THE BEST IN THE INDUSTRY. IT IS THE DRIVER’S
    RESPONSIBILITY TO MAKE SURE THE JUMP IS PROPERLY SPIKED DOWN AND IN
    REASONABLY CLEAN CONDITION. IF YOU FEEL THAT THE DRIVER HAS NOT DONE A
    SATISFACTORY JOB IN THE SETTING UP OF THE UNIT, PLEASE CALL US IMMEDIATELY:
    (916)716-6702 or (916)716-3735 
  </p>
  <p>
    <a href="mailto:kndbizness@comcast.net">kndbizness@comcast.net</a>
  </p>
</div>
