.logo-letter {
  display: inline-block;
  font-family: $headings-font-family;

  // K
  &:nth-child(1) {
    transform: rotate(15deg);
  }
  // ź
  &:nth-child(2) {
    transform: translateY(10%) rotate(10deg);
  }
  // D
  &:nth-child(3) {
    transform: translateY(15%) rotate(5deg);
  }
  // (space)
  &:nth-child(4) {
    width: 0.2em;
  }
  // J
  &:nth-child(5) {
    transform: translateY(15%) rotate(-5deg);
  }
  // u
  &:nth-child(6) {
    transform: translateY(13%) rotate(-7deg);
  }
  // m
  &:nth-child(7) {
    transform: translateY(7%) rotate(-7deg);
  }
  // p
  &:nth-child(8) {
    transform: translateY(2%) rotate(-7deg);
  }
  // A
  &:nth-child(9) {
    transform: translateY(2%);
  }
  // r
  &:nth-child(10) {
    // transform: translateY()
  }
  // o
  &:nth-child(11) {
    transform: translateY(1%) rotate(2deg);
  }
  // u
  &:nth-child(12) {
    transform: translateY(4%) rotate(7deg);
  }
  // n
  &:nth-child(13) {
    transform: translateY(10%) rotate(10deg);
  }
  // d
  &:nth-child(14) {
    transform: translateY(17%) rotate(15deg);
  }
}
