.site-footer {
  color: #fff;
  font-size: $font-size-small;

  a {
    color: #fff;
    text-decoration: underline;
  }

  &-inner {
    background-image: image-url("footer-kids.png");
    background-position: top 55px right 0;
    background-repeat: no-repeat;
    background-size: 91px 106px;

    padding: 60px 0;
  }

  &-separator {
    opacity: 0.25;
  }
}

@media (min-width: $screen-sm-min) {
  .site-footer {
    &-left {
      float: left;
      margin-right: 30px;
    }

    &-body {
      padding-right: 120px;
      overflow: hidden;
    }
  }
}
