.navbar {
  background-color: transparent;
  background-image: image-url("clouds.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 209px 15px;

  border: 0;
  margin-bottom: 0;

  .navbar-toggle {
    border: 0;
    padding-left: 0;
    padding-right: 0;

    transition: transform 0.3s;

    &:hover, &:focus {
      background: none;
    }

    &[aria-expanded="true"] {
      transform: rotate(90deg);
    }

    .icon-bar {
      width: 20px;
    }
  }

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav > li {
    > a {
      color: #fff;

      @media (min-width: $grid-float-breakpoint) {
        padding-bottom: 18px;
      }
    }

    &.open, &.active {
      > a, > a:hover, > a:focus {
        background-color: #fff;
        color: $brand-primary;

        @media (min-width: $grid-float-breakpoint) {
          border-radius: 15px 15px 0 0;
        }
      }
    }
  }
}

@media (max-width: $grid-float-breakpoint-max) {
  .navbar-header, .navbar-nav {
    padding-bottom: 10px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li {
    > a {
      color: #fff;
    }

    &.active > a {
      color: $brand-primary;
      background-color: #fff;
    }
  }

  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-color: #fff;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #fff;
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-collapse {
    background-image: image-url("header-left.png"),
                      image-url("header-right.png");
    background-position: top 15px left 0, top 5px right 0;
    background-repeat: no-repeat, no-repeat;
    background-size: 103px 76px, 69px 69px;
    padding-top: 70px;
  }

  .navbar-brand {
    padding-top: 25px;
    padding-left: 25px;
    text-shadow:  0 0 1px rgba(#330033, 0.7),
                  0 0 5px rgba(#000, 0.7);
    transform: scale(2);
    transform-origin: center left;
  }

  .navbar-nav > li > .dropdown-menu {
    border: 0;
  }
}

:not(.active) > .nav-specials,
:not(.active) > .nav-reservations {
  border-radius: 10px;
  margin: 8px 6px;
  padding: 5px 8px !important;
  background-color: rgba(#fdd, 0.3);
  text-shadow: 0 0 1px rgba(#000, 0.25);

  &:hover {
    background-color: rgba(#fdd, 0.15) !important;
  }
}
