@keyframes gradient {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

body {
  background-color: #517cfd;
  background-image: repeating-linear-gradient(70deg, #517cfd, #fc4159, #f46663,
    #f390a7, #a839be, #4150d0, #7dc874, #e5d54b, #517cfd 50%);
  background-size: 300% 300%;

  animation: gradient 120s ease infinite;

  min-height: 100vh;
}

.page-section {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(#000, 0.25);
  position: relative;

  padding-top:    30px;
  padding-bottom: 30px;

  @media(min-width: $screen-md-min) {
    padding-top:    60px;
    padding-bottom: 60px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;

    position: absolute;
    top: 100%;
    left: 0;

    background-image: image-url("clouds-inverted.png");
    background-repeat: repeat-x;
    background-size: 209px 20px;
  }
}
