@keyframes switcher {
  0%, 100% { transform: none; }
  50% { transform: scale(1.2); }
}

.site-switcher {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 8px 12px;
  background-color: rgba(#000, 0.8);
  transition: background-color 0.5s;
  overflow: hidden;

  &-inner {
    display: inline-block;
    animation: switcher 1s ease infinite;
  }

  &, &:hover, &:focus {
    color: #fff;
    text-decoration: none;
  }

  &:hover, &:focus {
    background-color: rgba(#000, 0.5);
  }
}
